# Carpeta de compilación de Maven
target/

# Configuración de IDEs
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore

# Archivos Markdown
*.md

# Logs
*.log

# Otros archivos innecesarios
Dockerfile
docker-compose.yml
