@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}

/**Encabezado */
.header {
    width: 90%;
    max-width: 680px;
    height: 80px;
    position: fixed;
    top: 15px;
    left: 76.5%;
    transform: translateX(-50%);
    background-color: var(--color-tercario);
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.name__encabezado {
    position: absolute;
    top: 20px;
    left: 22%;
}

.encabezado__pages {
    font: 400 15px "Noto Sans";
    color: #222;
    text-decoration: none;
    transition: text-decoration .5s ease;
}

.encabezado__pages:hover {
    text-decoration: underline;
}

.encabezado__title {
    font: 600 35px "Poppins";
    margin-top: -1px;
    color: #34495e;
}

.name__encabezado i {
    font-size: 20px;
}


.nav__img {
    width: 80px;
    cursor: pointer;
    margin: 0 -20px 0 0;
}

.nav__menu {
    position: absolute;
    top: 85%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.nav__menu.open__menu {
    max-height: 400px;
}

.menu__sub {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.sub__info {
    display: flex;
    align-items: center;
}

.sub__info .info__title {
    font: 600 25px "Poppins";
    color: #525252;
}

.sub__info .info__img {
    width: 70px;
    border-radius: 50%;
    margin: 0 15px 0 -10px;
}

.menu__sub hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;

}

.sub__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub__link .link__text {
    width: 100%;
    font: 500 17px "Noto Sans";

}

.sub__link:hover .link__text {
    font-weight: 700;

}

.sub__link i:not(.ri-arrow-right-s-line) {
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub__link .link__flec {
    transition: transform .5s;
    color: #555;
    font: 900 22px "Noto Sans";

}

.sub__link:hover .link__flec {
    transform: translateX(5px);

}

.nav__search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.search__input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    width: 350px;
    font: 400 15px "Noto Sans";
}


.search__icon {
    font-size: 1.2rem;
    color: #888;
    margin-right: 0.5rem;
    margin-left: 0;

}

.icono__notification i {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: color .5s ease;
    color: #525252;
}

.icono__notification i:hover {
    color: #000;
}


/* Estilo del botón de tema */
.theme-toggle {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.theme-toggle i {
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 20%;
    padding: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Luna: fondo gris claro, icono oscuro */
#moon-icon {
    color: #525252;
    transition: color .6s ease;
}

#moon-icon:hover {
    color: #000;
}


.nav__pais {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 0.3rem 0.8rem;
    margin-right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding-top: 100px;
    background-color: var(--color-tercario);
}

.sidebar__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: 20px;
}

/* Indicador que se mueve con transform */
.sidebar__indicator {
    position: absolute;
    width: calc(100% - 30px);
    height: 48px;
    background-color: #f4fbff;
    border-radius: 8px;
    left: 15px;
    top: 1px;
    z-index: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
    transform: translateY(114px);
    opacity: 1;
}


/* Ítems generales */
.sidebar__item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    margin: 8px 0 8px 25px;
    border-radius: 8px;
    transition: color 0.25s ease;
    position: relative;
    z-index: 1;
}


.sidebar__item:hover {
    background-color: transparent;
    color: inherit;
}


.sidebar__item.active {
    color: #3651d4;
}

.sidebar__item.active i,
.sidebar__item.active .sidebar__text {
    color: #3651d4;

}

.sidebar__item i {
    font-size: 22px;
    margin-right: 12px;
    transition: color 0.25s ease;
    color: #888;
}

.sidebar__text {
    font: 600 17px "Noto Sans";
    transition: color 0.25s ease;
    color: #888;
}

.card {
    position: relative;
    width: 256px;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border-radius: 1rem;
    padding: 3.5rem 1.5rem 2rem;
    color: white;
    text-align: center;
    box-shadow: 0 4px 15px rgba(123, 127, 255, 0.5);
    margin: 17em 0 0 20px;
}

.circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.circle i {
    font-size: 25px;
    font-weight: 800;
    color: #2E22FF;
    background-color: var(--color-tercario);
    padding: 5px 6px;
    border-radius: 50%;
}

.card__title {
    font: 600 1.125rem/1.33 "Poppins";
    margin: 0 0 0.5rem 0;
}

.card__text {
    font: 400 0.875rem/ 1.43 "Montserrat";
    margin: 0 0 1.5rem 0;
    padding: 0 0.5rem;
}

.card__btn {
    width: 100%;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border: none;
    border-radius: 9999px;
    padding: 0.625rem 0;
    color: white;
    font: 400 0.875rem/ 1.43 "Noto Sans";
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(123, 127, 255, 0.5);
    transition: filter 0.3s ease;
}

.card__btn:hover,
.card__btn:focus {
    filter: brightness(1.1);
    outline: none;
}

@media (max-width: 320px) {
    .card {
        width: 100%;
        padding: 3.5rem 1rem 2rem;
    }
}

.language-wrapper {
    margin-right: 5px;
}

.language-selector {
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    margin-right: 10px;
    position: relative;
}


.language-selector img {
    width: 25px;
    height: 25px;
    margin: 5px 0 0 0;
    border-radius: 50%;
}

.language-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 200px;
    background-color: var(--color-tercario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    width: 180px;
    animation: fadeIn 0.3s ease-in-out;
}

.language-option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-option:hover {
    background-color: var(--hover-color, #f0f0f0);
}

.language-option img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.language-option span {
    font: 400 16px "Noto Sans";

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main__content,
.content__inicio {
    margin-left: 168px;
    padding-top: 70px;
}



.inicio__agentenaviero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.agentenaviero__welcome {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    background-color: var(--color-tercario);
    border-radius: 20px;
    padding: 20px 20px;
    margin: 0 5px 0 0;
}

.welcome__title {
    font: 500 16px "Poppins";
}

.welcome__agentenaviero {
    font: 600 28px "Poppins";
    margin: 5px 0 10px 0;
}

.welcome__text {
    font: 500 15px "Montserrat";
}

.agentenaviero__atraque {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    background-color: var(--color-tercario);
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
    max-width: 220px;
}

.agentenaviero__atraque i {
    background-color: #f4fbff;
    color: #3651d4;
    font-size: 30px;
    padding: 15px 15px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: -5px;
}

.atraque__title {
    font: 500 16px "Poppins";
    margin: 40px 0 2px 0;
    color: #888;
}

.atraque__cantidad {
    font: 600 30px "Noto Sans";
}

.cantidad__porciento {
    font: 600 25px "Noto Sans";
    color: #4caf50;
}

.agentenavierto__proceso {
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    background-color: var(--color-tercario);
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
    max-width: 220px;
}

.agentenavierto__proceso i {
    background-color: #f4fbff;
    color: #3651d4;
    font-size: 30px;
    padding: 15px 15px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: -5px;
}

.proceso__title {
    font: 500 16px "Poppins";
    margin: 40px 0 2px 0;
    color: #888;
}

.proceso__cantidad {
    font: 600 30px "Noto Sans";
}

.cantidad__porciento {
    font: 600 25px "Noto Sans";
    color: #4caf50;
}

.agentenaviero__total {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    background-color: var(--color-tercario);
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
    max-width: 220px;
}


.agentenaviero__total i {
    background-color: #f4fbff;
    color: #3651d4;
    font-size: 30px;
    padding: 15px 15px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: -5px;
}

.total__title {
    font: 500 16px "Poppins";
    margin: 40px 0 2px 0;
    color: #888;
}

.total__cantidad {
    font: 600 30px "Noto Sans";
}

.cantidad__porciento {
    font: 600 25px "Noto Sans";
    color: #4caf50;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}


#chartdiv {
    width: 100%;
    max-width: 770px;
    height: 450px;
    background-color: var(--color-tercario);
    border-radius: 20px;
    margin: -120px 0 0 0;

}

#chartdiv2 {
    width: 100%;
    max-width: 400px;
    height: 450px;
    border-radius: 20px;
    background-color: var(--color-tercario);
    margin: -28em 0 0 49em;
}


.controls {
    position: relative;
}

.controls__btn {
    position: absolute;
    top: -50px;
    left: 50em;
}

.control-button {
    cursor: pointer;
    border: none;
    outline: none;
    font: 600 17px "Noto Sans";
    background-color: transparent;
    margin: 0 0 0 3px;
    color: var(--color-quintario);
}

.button--changed {
    margin: 0 0 0 90px;
}

.separator {
    position: absolute;
    top: -5px;
    left: 179px;
    width: 1px;
    /* El grosor de la barra */
    height: 40px;
    /* La altura de la barra */
    background-color: #ccc;
    /* Color de la barra */
    margin: 0 10px;
    /* Espaciado a la izquierda y derecha */
}

.select__periodicidad {
    position: absolute;
    top: -27em;
    left: 67.6em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font: 600 16px "Noto Sans";
    color: #888;
}

.select__periodicidad option {
    font: 600 13px "Noto Sans";
}