/** Para titulos h1 */
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-Black.ttf) format("truetype");
    font-weight: 900;
}

/** Para titulos h2 */
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-ExtraBold.ttf) format("truetype");
    font-weight: 800;
}

/** Para titulos h3 */
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
}

/** Para titulos h4 */
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
}

/** Para titulos h5 y h6 */
@font-face {
    font-family: "Poppins";
    src: url(assets/font/Poppins/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
}


/** Para p con textos grandes */
@font-face {
    font-family: "Montserrat";
    src: url(assets/font/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
}

/** Para p con textos medianos */
@font-face {
    font-family: "Montserrat";
    src: url(assets/font/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}

/** Para p con textos pequeños */
@font-face {
    font-family: "Montserrat";
    src: url(assets/font/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}


/** Para a con enlaces grandes */
@font-face {
    font-family: "NotoSans";
    src: url(assets/font/Noto_Sans/NotoSans-MediumItalic.ttf) format("truetype");
    font-weight: 500;
}

/** Para a con enlaces medianos */
@font-face {
    font-family: "NotoSans";
    src: url(assets/font/Noto_Sans/NotoSans-Regular.ttf) format("truetype");
    font-weight: 400;
}


/** Para a con enlaces pequeños */
@font-face {
    font-family: "NotoSans";
    src: url(assets/font/Noto_Sans/NotoSans-ExtraLight.ttf) format("truetype");
    font-weight: 200;
}