@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
    transition: background-color 0.5s, color 0.5s;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* header modo oscuro */
body.dark-mode .header,
body.dark-mode .sidebar,
body.dark-mode .container__table {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode .sidebar__indicator {
    background-color: #121212;
}

/* Search modo oscuto */
body.dark-mode .nav__search {
    background-color: #121212;
    color: var(--color-tercario);
}


body.dark-mode .search__input {
    color: var(--color-tercario);
}

body.dark-mode .notification__search-container i {
    color: #888;
}

body.dark-mode .notification__search {
    background-color: #121212;
    color: var(--color-tercario);
    border: 1px solid #555;
}

body.dark-mode .notification__search:focus {
    border-color: #5c9eff;
    box-shadow: 0 0 0 2px rgba(92, 158, 255, 0.2);
}

body.dark-mode .language-menu {
    background-color: #121212;
}

body.dark-mode .language-option:hover {
    background-color: #1e1e1e;
}


body.dark-mode .icono__notification i {
    color: var(--color-tercario);
}

body.dark-mode .encabezado__pages,
body.dark-mode .encabezado__title,
body.dark-mode .notification__title,
body.dark-mode .modal-title,
body.dark-mode .contenido__text,
body.dark-mode .description__title,
body.dark-mode .info__title,
body.dark-mode .link__text,
body.dark-mode .link__flec {
    color: var(--color-tercario);
}

body.dark-mode .agentenaviero__welcome,
body.dark-mode .agentenaviero__atraque,
body.dark-mode .agentenavierto__proceso,
body.dark-mode .agentenaviero__total {
    background-color: #1e1e1e;
}

body.dark-mode .agentenaviero__atraque i,
body.dark-mode .agentenavierto__proceso i,
body.dark-mode .agentenaviero__total i {
    background-color: #121212;
}

body.dark-mode .menu__sub {
    background-color: #121212;

}

body.dark-mode .content__descarga i:not(.ri-arrow-right-long-line) {
    background-color: #121212;
    color: var(--color-tercario);
    transition: background-color .8s ease;
}

body.dark-mode .content__icon i {
    color: var(--color-tercario);
}

body.dark-mode .content__icon i:hover {
    background-color: #444;
}

body.dark-mode .notification__table tbody tr {
    transition: background-color .9s ease;
}

body.dark-mode .notification__table tbody tr:hover {
    background-color: #121212;

}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: var(--color-tercario);
}

body.dark-mode .modal-close {
    color: var(--color-tercario);
    transition: color .5s ease;
}

body.dark-mode .modal-close:hover {
    color: #8d8d8d;
}

body.dark-mode .modal__contenido {
    background-color: #1e1e1e;
    color: var(--color-tercario);
}

body.dark-mode .pagination__flec {
    color: var(--color-tercario);
}

body.dark-mode .custom-arrow {
    color: var(--color-tercario);
}

body.dark-mode .styled-select option {
    background-color: #1e1e1e;
    color: var(--color-tercario);
}

body.dark-mode .styled-select {
    border: 1px solid #ffff;
    color: #ffff;
}

body.dark-mode .input-box input:focus~.label,
.input-box input:not(:placeholder-shown)~.label {
    background-color: #121212;
    color: #0034de;
}


body.dark-mode .input-box input:focus {
    outline: none;
    border: 2px solid #0034de;
}

body.dark-mode .input-box input,
body.dark-mode textarea {
    border: 1px solid #ffff;
    color: var(--color-tercario);
    background-color: #1e1e1e;
}

body.dark-mode .input-box .label {
    color: var(--color-tercario);
}

body.dark-mode .modal__content {
    background-color: #1e1e1e;
    color: var(--color-tercario);
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}

/**Encabezado */
.header {
    width: 90%;
    max-width: 680px;
    height: 80px;
    position: fixed;
    top: 15px;
    left: 76.5%;
    transform: translateX(-50%);
    background-color: var(--color-tercario);
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.name__encabezado {
    position: fixed;
    top: 20px;
    left: 22%;
}

.encabezado__pages {
    font: 400 15px "Noto Sans";
    color: #222;
    text-decoration: none;
    transition: text-decoration .5s ease;
}

.encabezado__pages:hover {
    text-decoration: underline;
}

.encabezado__title {
    font: 600 35px "Poppins";
    margin-top: -1px;
    color: #34495e;
}

.name__encabezado i {
    font-size: 20px;
}


.nav__img {
    width: 80px;
    cursor: pointer;
    margin: 0 -20px 0 0;
}

.nav__menu {
    position: absolute;
    top: 85%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
}

.nav__menu.open__menu {
    max-height: 400px;
}

.menu__sub {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.sub__info {
    display: flex;
    align-items: center;
}

.sub__info .info__title {
    font: 600 25px "Poppins";
    color: #525252;
}

.sub__info .info__img {
    width: 70px;
    border-radius: 50%;
    margin: 0 15px 0 -10px;
}

.menu__sub hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;

}

.sub__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}

.sub__link .link__text {
    width: 100%;
    font: 500 17px "Noto Sans";

}

.sub__link:hover .link__text {
    font-weight: 700;

}

.sub__link i:not(.ri-arrow-right-s-line) {
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub__link .link__flec {
    transition: transform .5s;
    color: #555;
    font: 900 22px "Noto Sans";

}

.sub__link:hover .link__flec {
    transform: translateX(5px);

}

.nav__search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.search__input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    width: 350px;
    font: 400 15px "Noto Sans";
}


.search__icon {
    font-size: 1.2rem;
    color: #888;
    margin-right: 0.5rem;
    margin-left: 0;

}

.icono__notification i {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    transition: color .5s ease;
    color: #525252;
}

.icono__notification i:hover {
    color: #000;
}

.icono__notification {
    position: relative;
    font-size: 20px;
    color: #525252;
}

.notification-box {
    position: absolute;
    top: 35px;
    right: 0;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: none;
    z-index: 100;
    animation: fadeIn 0.3s ease-in-out;
}

body.dark-mode .notification-box {
    background-color: #121212;

}

/* Mostrar la notificación al pasar el mouse */

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.notification-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 5px;
}

.notification-content {
    flex-grow: 1;
}

.notification-content .content__text {
    margin: 0 0 5px 0;
    font: 500 15px "Montserrat";
    color: #333;
}

body.dark-mode .notification-content .content__text {
    color: var(--color-tercario);
}

.notification-content .time {
    font: 500 13px "Noto Sans";
    color: #888;
    margin: 0 0 0 -20px;
}

body.dark-mode .notification-content .time {
    color: #999;
}

.content__time i {
    position: relative;
    color: #888;
    top: 2px;
    left: -10px;
    font-size: 17px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilo del botón de tema */
.theme-toggle {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.theme-toggle i {
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 20%;
    padding: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Luna: fondo gris claro, icono oscuro */
#moon-icon {
    color: #525252;
    transition: color .6s ease;
}

#moon-icon:hover {
    color: #000;
}


.nav__pais {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 0.3rem 0.8rem;
    margin-right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding-top: 100px;
    background-color: var(--color-tercario);
}

.sidebar__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: 20px;
}

/* Indicador que se mueve con transform */
.sidebar__indicator {
    position: absolute;
    width: calc(100% - 30px);
    height: 48px;
    background-color: #f4fbff;
    border-radius: 8px;
    left: 15px;
    top: 1px;
    z-index: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 1;
}


/* Ítems generales */
.sidebar__item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    margin: 8px 0 8px 25px;
    border-radius: 8px;
    transition: color 0.25s ease;
    position: relative;
    z-index: 1;
}


.sidebar__item:hover {
    background-color: transparent;
    color: inherit;
}


.sidebar__item.active {
    color: #3651d4;
}

.sidebar__item.active i,
.sidebar__item.active .sidebar__text {
    color: #3651d4;

}

.sidebar__item i {
    font-size: 22px;
    margin-right: 12px;
    transition: color 0.25s ease;
    color: #888;
}

.sidebar__text {
    font: 600 17px "Noto Sans";
    transition: color 0.25s ease;
    color: #888;
}

.card {
    position: relative;
    width: 256px;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border-radius: 1rem;
    padding: 3.5rem 1.5rem 2rem;
    color: white;
    text-align: center;
    box-shadow: 0 4px 15px rgba(123, 127, 255, 0.5);
    margin: 7em 0 0 20px;
}

.circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.circle i {
    font-size: 25px;
    font-weight: 800;
    color: #2E22FF;
    background-color: var(--color-tercario);
    padding: 5px 6px;
    border-radius: 50%;
}

.card__title {
    font: 600 1.125rem/1.33 "Poppins";
    margin: 0 0 0.5rem 0;
}

.card__text {
    font: 400 0.875rem/ 1.43 "Montserrat";
    margin: 0 0 1.5rem 0;
    padding: 0 0.5rem;
}

.card__btn {
    width: 100%;
    background: linear-gradient(180deg, #7B7FFF 0%, #2E22FF 100%);
    border: none;
    border-radius: 9999px;
    padding: 0.625rem 0;
    color: white;
    font: 400 0.875rem/ 1.43 "Noto Sans";
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(123, 127, 255, 0.5);
    transition: filter 0.3s ease;
}

.card__btn:hover,
.card__btn:focus {
    filter: brightness(1.1);
    outline: none;
}

@media (max-width: 320px) {
    .card {
        width: 100%;
        padding: 3.5rem 1rem 2rem;
    }
}

.language-wrapper {
    margin-right: 5px;
}

.language-selector {
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    margin-right: 10px;
    position: relative;
}


.language-selector img {
    width: 25px;
    height: 25px;
    margin: 5px 0 0 0;
    border-radius: 50%;
}

.language-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 200px;
    background-color: var(--color-tercario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    width: 180px;
    animation: fadeIn 0.3s ease-in-out;
}

.language-option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-option:hover {
    background-color: var(--hover-color, #f0f0f0);
}

.language-option img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.language-option span {
    font: 400 16px "Noto Sans";

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.main__content,
.table__container {
    margin-left: 62px;
    padding-top: 90px;
}

/* Notificaciones */
.container__table {
    background-color: var(--color-tercario);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1210px;
    margin: 20px 0 0 190px;
    position: absolute;
    z-index: -1;
}

.notification__title {
    font: 600 27px "Poppins", sans-serif;
    color: #34495e;
    text-align: left;
    margin: 0 0 20px 20px;
    letter-spacing: 1px;
    flex: 1;
}

/* Tabla */
.notification__table-container {
    overflow-x: auto;
}

.notification__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    min-width: 800px;
}


.notification__table tbody tr:hover {
    background-color: #f4fbff;
    transition: background-color 0.7s ease;
}

.notification__table th {
    padding: 14px 16px;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #e0e0e0;
    font: 600 17px "Poppins";
}

.notification__table td {
    padding: 35px 16px 35px 16px;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #e0e0e0;
    font: 500 15px "Noto Sans";
    cursor: pointer;
}



.notification__search-container {
    position: relative;
    width: 400px;
    margin: -60px 0 20px 56%;
    flex: 1;
}

.notification__search-container i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #0077ff;
    font-size: 23px;
    pointer-events: none;
}

.notification__search {
    width: 100%;
    padding: 10px 12px 10px 48px;
    font: 400 13px "Noto Sans";
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.notification__search:focus {
    border-color: #5c9eff;
    box-shadow: 0 0 0 2px rgba(92, 158, 255, 0.2);
}

.content__descarga {
    position: relative;
    width: 260px;
    margin: -60px 0 20px 96%;
    flex: 1;
}

.content__descarga i:not(.ri-arrow-right-long-line) {
    font-size: 35px;
    padding: 5px 5px;
    border-radius: 8px;
    background-color: #f4fbff;
    cursor: pointer;
    color: var(--color-quintario);
    transition: background-color .7s ease;
}

.content__descarga i:hover:not(.ri-arrow-right-long-line) {
    background-color: #e0e0e0;
}

.exportar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 210px;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    background: #fff;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    pointer-events: none;
    /* No se puede hacer clic si está oculto */
}

.exportar.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.exportar-header {
    background-color: #58c18f;
    color: var(--color-quintario);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font: 600 20px "Noto Sans";
}

.exportar-header i {
    font-size: 25px;
    margin: 0 0 0 10px;
}

.exportar__item {
    display: flex;
    flex-direction: column;
}

.exportar-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.exportar-option:hover {
    background-color: #f0f0f0;
}

.exportar-option span {
    font: 500 1.2rem "Noto Sans";
    color: #333;
    margin: 0 0 0 20px;
}

.exportar-option img {
    width: 35px;
    height: 35px;
}

.content__icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content__icon i {
    font: 400 23px "Noto Sans";
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 5px;
    transition: background-color .8s ease;
}

.content__icon i:hover {
    background-color: #e0e0e0;
}

/* Paginación */
.notification__pagination {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.pagination__btn {
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s;
    font: 700 12px "Noto Sans";
}

.pagination__btn:hover {
    background-color: #0077ff;
    color: var(--color-tercario);
}


.pagination__btn.active {
    background-color: #0077ff;
    color: #fff;
}

.pagination__flec {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s;
    margin: 0 10px;
    color: #000000;
}

.pagination__flec:hover {
    color: #6b7280;
}

.pagination__text {
    font: 500 17px "Montserrat";
    margin: 5px 30px 0 0;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.modal-content {
    background-color: #ffffff;
    margin: 12% auto;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.modal-close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #555;
}

.modal-close:hover {
    color: #000;
}

.modal-title {
    margin-bottom: 20px;
    font: 500 1.4rem "Poppins";
    color: #222;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-info .modal__text {
    margin: 8px 0;
    font-size: 0.95rem;
    font: 400 1.1rem "Poppins";
}

.modal-info .text__str {
    font: 600 1.2rem "Noto Sans";
}

.modal-description {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
    font: 500 0.95rem "Montserrat";
    text-align: justify;
}

.modal-description .description__title {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #444;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}