@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:95vh;
}


.form .formulario__title{
    font: 700 35px "Montserrat";
    text-align: center;
    margin: 0 0 20px 0;
}

/* * Estilo para el login los iconos*/
.icono{
    margin:0 0 20px 0;
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"]~.tooltip {
    background-color: #0034de;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="google"] .filled,
.example-2 .icon-content a[data-social="google"]~.tooltip {
    background: linear-gradient(45deg,
    #4285F4,  /* Azul */
    #EA4335,  /* Rojo */
    #FBBC05,  /* Amarillo */
    #34A853); /* Verde */
}


.form .formulario__title2{
    font: 900 15px "Montserrat";
    text-align: center;
    margin: 0 0 0 25%;
}


.input-box {
    position: relative;
}

.input-box label {
    font: 500 15px "Montserrat";
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 50px;
    top: 20px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-box input {
    margin: 10px 0 25px 30px;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    width: 550px;
    height: 55px;
    letter-spacing: 1px;
    outline: none;
}

.input-box input:focus {
    outline: none;
    border:2px solid #0034de;
}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    background-color: #fff;
    transform: translateY(-80%) translateX(-10px) scale(0.8);
    padding: 0 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}


.box__icon i{
    position: absolute;
    top: 25px;
    left: 93%;
    font:900 18px "Montserrat";
    
}

.box__icon .ri-check-line{
    background-color: #34A853;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.box__icon .ri-close-line{
    background-color: #fd1f1f;
    border-radius: 50%;
    padding: 1px 1px;
    color: #fff;
    display: none;
}

.input-box.input-error label {
    color: #fd1f1f !important;
}

.input__error{
    font: 600 15px "Montserrat";
    width: 500px;
    margin: 0 0 15px 33px;
    display: none;
}


.error--changed{
    margin: 30px 0 0 33px;
}

.input__advertencia{
    font:700 15px "Montserrat";
    box-sizing: border-box;
    width: 100%;
    max-width: 550px;
    background-color: #fd1f1f;
    padding: 20px 15px;
    border-radius: 5px;
    grid-column: span 2; 
    margin: 20px 0 0 30px; 
    display: flex;
    justify-content: flex-start;
    display:none;
}

.input__advertencia i {
    font-size: 1.7rem; 
    margin:-5px 10px 0 0; 
}



.remember-forgot .forgot__label {
    accent-color: #0034de;
    font: 700 15px "Montserrat";
    margin-left: 30px;
}


.remember-forgot input {
    margin-right: 15px;
}

.remember-forgot a { 
    color: gray;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    margin: 0 0 0 90px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.form .formulario__btn {
    font: 700 20px "Montserrat";
    background-color: #fff;
    width:100%;
    max-width: 600px;
    height: 55px;
    margin: 30px 0 30px 30px;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px rgba(0, 0, 0,0.3),
        -6px -6px 12px #fff;
    cursor: pointer;
}

.form .formulario__btn::before {
    content: '';
    width: 0;
    height: 55px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4D8FD8, #512da8 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}


.form .formulario__btn:hover::before{
    width: 100%;
}

.formulario__btn-container {
    grid-column: span 2;
    margin-top: 5px; 
    display: flex;
    justify-content: center; 
}

.registre-link{
    margin: 0 0 0 150px;
}

.registre-link a {
    margin: 20px 0 0 20px;
}

.registre-link p a {
    color: gray;
    text-decoration: none;
    font-weight: 600;
    margin: 20px 0 0 20px;
}

.registre-link p a:hover {
    text-decoration: underline;
}

