:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}


/* Encabezado */
.header {
    background-color: var(--color-primario);
    /* Color sólido al inicio */
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.list__item {
    margin: 0 10px;
}

.item__link {
    color: var(--color-tercario);
    font: 400 20px "Noto Sans";
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.item__link::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 3.5px;
    background-color: var(--color-secundario);
    transition: width .7s ease, left .7s ease;
}

.item__link:hover::after {
    width: 100%;
    left: 0;
}


.btn--signin {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid var(--color-secundario);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secundario);
    font: 400 18px "Noto Sans";
    text-align: center;
    text-transform: capitalize;
    transition: color 0.7s ease;
}

.btn--signin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secundario);
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    z-index: -1;
}

.btn--signin:hover::before {
    transform: translateX(0);
}

.btn--signin:hover {
    color: var(--color-primario);
    transition-delay: .3s;
}

/* Estilos del usuario cuando inicia seccion */
.nav__img{
    width: 60px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}

.nav__menu{
    position: absolute;
    top: 80%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.nav__menu.open__menu{
    max-height: 400px;
}

.menu__sub{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.sub__info{
    display: flex;
    align-items: center;
}

.sub__info .info__title{
    font: 600 25px "Poppins";
    color: #525252;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sub__info .info__img{
    width: 70px;
    border-radius: 50%;
    margin:0 15px 0 -10px;
}

.menu__sub hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;

}

.sub__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub__link .link__text{
    width: 100%;
    font: 500 17px "Noto Sans";

}

.sub__link:hover .link__text{
    font-weight: 700;

}

.sub__link i:not(.ri-arrow-right-s-line){
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub__link .link__flec{
    transition: transform .5s;
    color: #555;
    font: 900 22px "Noto Sans";

}

.sub__link:hover .link__flec{
    transform: translateX(5px);

}




.content {
    width: 100%;
    max-width: 1225px;
    margin: 10px 0 0 150px;
    padding: 0 20px;
}

.profile-header {
    background: linear-gradient(to right, #cce7ff, #b3d9ff);
    border-radius: 25px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info .info__img {
    width: 130px;
    height: 130px;
    border-radius: 20%;
}

.profile-info .info__user {
    margin-left: 16px;
}

.profile-info .user__title {
    font-size: 25px;
    font-weight: 600;
    color: #1f2937;
    font-family: "Poppins";
}

.profile-info .user__text {
    color: #6b7280;
    font: 500 20px "Montserrat";
    margin-top: 10px;
}



/* Notificaciones */
.container__table {
    background-color: var(--color-tercario);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1180px;
    margin: 20px 0 0 170px;
    position: relative;

}

/* Encabezado de la tabla con buscador */


.notification__title {
    font: 600 24px "Poppins", sans-serif;
    color: #34495e;
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 1px;
    flex: 1;
}


/* Tabla */
.notification__table-container {
    overflow-x: auto;
}

.notification__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    min-width: 800px;
}


.notification__table tbody tr:hover {
    background-color: #f4fbff;
    transition: background-color 0.7s ease;
}

.notification__table th {
    padding: 14px 16px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #e0e0e0;
    font: 600 17px "Poppins";
}

.notification__table td {
    padding: 35px 16px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #e0e0e0;
    font: 500 15px "Noto Sans";
    cursor: pointer;
}

.notification__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.notification__search-container {
    position: relative;
    width: 260px;
    margin: -60px 0 20px 77%;
    flex: 1;
}

.notification__search-container i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #0077ff;
    font-size: 23px;
    pointer-events: none;
}

.notification__search {
    width: 100%;
    padding: 10px 12px 10px 48px;
    /* espacio a la izquierda para el ícono */
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.notification__search:focus {
    border-color: #5c9eff;
    box-shadow: 0 0 0 2px rgba(92, 158, 255, 0.2);
}


/* Paginación */
.notification__pagination {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.pagination__btn {
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s;
}

.pagination__btn:hover {
    background-color: #0077ff;
    color: var(--color-tercario);
}


.pagination__btn.active {
    background-color: #0077ff;
    color: #fff;
}

.pagination__flec {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s;
    margin: 0 10px;
    color: #000000;
}

.pagination__flec:hover {
    color: #6b7280;
}

.pagination__text {
    font: 500 17px "Montserrat";
    margin: 5px 30px 0 0;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.modal-close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #555;
}

.modal-close:hover {
    color: #000;
}

.modal-title {
    margin-bottom: 20px;
    font: 500 1.4rem "Poppins";
    color: #222;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.modal-info .modal__text {
    margin: 8px 0;
    font-size: 0.95rem;
    font: 400 1.1rem "Poppins";
}

.modal-info .text__str {
    font: 600 1.2rem "Noto Sans";
}

.modal-description {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
    font: 500 0.95rem "Montserrat";
    text-align: justify;
}

.modal-description h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #444;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}