:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario:#000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
    transition: margin-top 0.6s ease-in-out;
}

.content__links{
    position: relative;
    font: 400 20px "Noto Sans";
    color: var(--color-cuartario);
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 20px 0 -10px;
    display: inline-block;
}

.content__links::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--color-cuartario);
    transition: width .7s ease,left .7s ease;
}

.content__links:hover::after{
    width: 100%;
    left: 0;
}

/**Encabezado */
.header {
    background-color: var(--color-primario); /* Color sólido al inicio */
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100%; 
    margin-right: 30px;
}

.nav__list {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex;
    align-items: center; 
}

.list__item {
    margin: 0 10px;
}

.item__link {
    color: var(--color-tercario);
    font: 400 20px "Noto Sans";
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.item__link::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 3.5px;
    background-color: var(--color-secundario);
    transition: width .7s ease,left .7s ease;
}

.item__link:hover::after {
    width: 100%;
    left: 0;
}


.btn--signin {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid var(--color-secundario);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secundario);
    font: 400 18px "Noto Sans";
    text-align: center;
    text-transform: capitalize;
    transition: color 0.7s ease; 
}

.btn--signin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secundario);
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    z-index: -1;
}

.btn--signin:hover::before {
    transform: translateX(0);
}

.btn--signin:hover {
    color: var(--color-primario);
    transition-delay: .3s; 
}

/* Estilos del usuario cuando inicia seccion */
.nav__img{
    width: 70px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}

.nav__menu{
    position: absolute;
    top: 80%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.nav__menu.open__menu{
    max-height: 400px;
}

.menu__sub{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.sub__info{
    display: flex;
    align-items: center;
}

.sub__info .info__title{
    font: 600 25px "Poppins";
    color: #525252;
}

.sub__info .info__img{
    width: 70px;
    border-radius: 50%;
    margin:0 15px 0 -10px;
}

.menu__sub hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;

}

.sub__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub__link .link__text{
    width: 100%;
    font: 500 17px "Noto Sans";

}

.sub__link:hover .link__text{
    font-weight: 700;

}

.sub__link i:not(.ri-arrow-right-s-line){
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub__link .link__flec{
    transition: transform .5s;
    color: #555;
    font: 900 22px "Noto Sans";

}

.sub__link:hover .link__flec{
    transform: translateX(5px);

}

/* Nuestra Historia */
.historia{
    padding: 50px 0 50px 0;

}

.historia__title{
    font: 700 45px "Poppins";
    color: var(--color-primario);
    position: relative;
    margin: 0 0 30px 40px;
}

.historia__title::before{
    content: "";
    position:absolute;
    left: 0.1%;
    bottom: 1px;
    width: 100%;
    max-width: 60px;
    height: 5px;
    background-color: var(--color-secundario);
}


.historia__text{
    font: 500 20px/1.5 "Montserrat";
    width: 700px;
    margin: 0 0 40px 40px;
}

.historia__btn{
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    font: 500 20px "Noto Sans";
    margin: 0 0 0 40px;
    transform: scale(1);
    transition: transform .5s ease;

}

.historia__btn:hover{
    transform: scale(1.1);
}

.historia__img{
    position: relative;
}

.historia__img .img__puerto{
    width: 650px;
    height: 500px;
    position: absolute;
    top: -540px;
    left: 53%;
    border-radius: 10px;
}

/* Section quienes somos */
.sectionsomos{
    padding: 350px 0 150px 0;
}


.sectionsomos__content{
    position: relative;
}

.title--somos{
    position: relative;
    margin:-300px 0 0 0;
    text-align: center;
    text-transform: capitalize;
    font: 800 60px "Poppins";
    color: var(--color-primario);
}

.title--somos::before{
    content: "";
    position: absolute;
    left: 35%;
    bottom: 5px;
    width: 100%;
    max-width: 70px;
    height: 5px;
    background-color: var(--color-secundario);
}

.text--somos{
    font: 500 20px "Montserrat";
    color: var(--color-quintario);
    margin: 20px 0 0 100px;
    text-align: center;
    width: 1300px;
}

.sectionsomos__content > img{
    margin:40px 0 0 300px;
    width: 100%;
    max-width: 900px;
    height: 400px;
    border-radius: 40px;
}

.content__icon{
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    background-color: var(--color-tercario);
    box-shadow: 5px 5px 12px rgba(0, 0,0, 0.5),
                -10px -10px 12px var(--color-tercario);
    cursor: pointer;
}

.content__icon i {
    font-size: 40px;
    margin-left: 5px;
    color: var(--color-secundario);
}

.content__icon:hover  {
    box-shadow: inset 5px 5px 13px rgba(0, 0,0, 0.5);
}

.content__video{
    font: 700 20px Poppins;
    color: #aaa;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 40%;
}

/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del modal */
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#videoModal {
    display: none; /* El modal está oculto al cargar la página */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* Contenedor del modal */
.modal-content {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    max-width: 100%;
    max-width: 1400px;
}


.close {
    position: absolute;
    top:0;
    right: 10px ;
    font-size: 34px;
    cursor: pointer;
    color: var(--color-tercario);
    background-color: #333;
    padding: 3px 10px;
    transition:background-color .3s ease;
}

.close:hover{
    background-color: #444;
}


.modal-content video {
    width: 100%;
    border-radius: 5px;
}

.Nosotros__content{
    padding: 50px 0;
    height: 100vh;

}

.Nosotros__titleinicio{
    position: relative;
    font: 700 50px "Poppins";
    color: var(--color-primario);
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 20px;

}

.Nosotros__titleinicio::before{
    content: "";
    position: absolute;
    left: 42%;
    bottom: 4px;
    width: 100%;
    max-width: 70px;
    height: 5px;
    background-color: var(--color-secundario);
}


.Nosotros__textinicio{
    font: 500 20px "Montserrat";
    text-align: center;
    color: var(--color-primario);
    width: 100%;
    padding: 0 100px;

}

.content__main{
    margin-top: -50px;
}

.content__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    text-align: center;
    width: 100%;
    max-width: 350px;
    min-height: 250px; 
    border-radius: 10px;
    background-color: var(--color-tercario);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px; /* Espaciado interno */
    border-bottom: 3px solid var(--color-cuartario);
    margin: 20px 190px 0 190px;
    transform: scale(1);
    transition: transform .7s ease;
}

.content__item:hover{
    transform: scale(1.1);
}

.item__icon{
    position: absolute;
    top: 20px;
    left: 40%;
}

.content__item .item__icon i{
    color: var(--color-cuartario);
    font-size: 35px; 
    width: 70px; 
    height: 70px
}

.item__title{
    font: 400 15px "Poppins";
    text-align: justify;
    margin:50px 0 0 0;
}

.item__text{
    font: 400 15px "Montserrat";
    text-align: justify;
    margin:15px 0 40px 0;
}

.content__left{
    margin-top: 100px;
}

.content__img{
    text-align: center;
    
}

.content__img img{
    width: 100%;
    max-width: 380px;
    height: 580px;
    border-radius: 30px;
    margin-top: -1000px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .7s ease;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.content__img img:hover{
    transform: scale(1.1);
}

.content__rigth{
    float: right;
    margin-top: -580px;
}

.item__btn{
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--color-cuartario);
    color: var(--color-tercario);
    font: 400 15px "Noto Sans";
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

/* Nuestros Valores */
.valores{
    padding: 50px 0 100px 0;
}

.valores__title{
    position: relative;
    font: 700 45px "Poppins";
    text-align: center;
    color: var(--color-primario);
    margin: 0 0 25px 0;
}

.valores__title::before{
    content: "";
    position: absolute;
    left: 37%;
    bottom: 3px;
    width: 100%;
    max-width: 60px;
    height: 5px;
    background-color: var(--color-secundario);
}

.valores__text{
    position: relative;
    font: 500 20px "Montserrat";
    text-align: center;
    padding: 0 50px;
    color: var(--color-primario);
    margin: 0 0 50px 0;
}

/* Card Valores */
.valores__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container__card{
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    height: 300px;
    background-color: transparent;
    border-radius: 20px;
    transform: scale(1);
    transition: transform .6s ease,background-color .7s ease;
}

.container__card:hover{
    transform: scale(1.1);
    background-color: var(--color-cuartario);
}

.container__card * {
    transition: color .4s ease;
}

.container__card:hover * {
    color: var(--color-tercario);
}


.container--changed{
    margin-top: 40px;
}

.card__icon{
    font-size: 60px;
    color: var(--color-cuartario);
}

.container__card .card__icon i{
    position: absolute;
    top: 30px;
    left: 40%;
}

.card__title{
    font: 700 25px "Poppins";
    color: var(--color-quintario);
    text-align: center;
    text-transform: capitalize;
    padding: 100px 0 0 0 ;
    margin: 0 0 10px 0;
}

.card__text{
    font: 500 15px "Montserrat";
    color: var(--color-quintario);
    padding: 0 20px;
}

/* footer */
.footer{
    background-color: var(--color-primario);
    color: var(--color-tercario);
    padding: 20px 0 20px  0;
    font-family: "Noto Sans";
}

.footer__content{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.content__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row__item{
    width: 25%;
    padding: 0 15px;
}

.row__item .item__title{
    font-size: 18px;
    color: var(--color-secundario);
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row__item .item__title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--color-secundario);
    height: 2px;
    width: 50px;
}

.row__item .item__list{
    list-style: none;
    padding: 0;
}

.row__item .item__list .list__footer{
    margin: 10px 0;
}

.row__item .item__list .list__footer .footer__link{
    color: var(--color-tercario);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}


.row__item .item__list .list__footer .footer__link:hover{
    color: var(--color-secundario);
}

.item__social{
    margin-top: 20px;
}

.item__social .social__link{
    display: inline-block;
    margin-right: 10px;
    color: var(--color-tercario);
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.item__social .social__link:hover{
    color: var(--color-secundario);
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .row__item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .row__item {
        width: 100%;
    }
}
