:root {
    /*========== Colors ==========*/
    --color-primario: #13294B;
    --color-secundario: #FFD500;
    --color-tercario: #ffffff;
    --color-cuartario: #4488FF;
    --color-quintario: #000000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
    transition: margin-top 0.6s ease-in-out;
}

.content__links {
    position: relative;
    font: 400 20px "Noto Sans";
    color: var(--color-cuartario);
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 20px 0 -10px;
    display: inline-block;
}

.content__links::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--color-cuartario);
    transition: width .7s ease, left .7s ease;
}

.content__links:hover::after {
    width: 100%;
    left: 0;
}

/**Encabezado */
.header {
    background-color: var(--color-primario);
    /* Color sólido al inicio */
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.list__item {
    margin: 0 10px;
}

.item__link {
    color: var(--color-tercario);
    font: 400 20px "Noto Sans";
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.item__link::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 3.5px;
    background-color: var(--color-secundario);
    transition: width .7s ease, left .7s ease;
}

.item__link:hover::after {
    width: 100%;
    left: 0;
}


.btn--signin {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid var(--color-secundario);
    border-radius: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    color: var(--color-secundario);
    font: 400 18px "Noto Sans";
    text-align: center;
    text-transform: capitalize;
    transition: color 0.7s ease;
}

.btn--signin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secundario);
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    z-index: -1;
}

.btn--signin:hover::before {
    transform: translateX(0);
}

.btn--signin:hover {
    color: var(--color-primario);
    transition-delay: .3s;
}

/* Estilos del usuario cuando inicia seccion */
.nav__img{
    width: 70px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
}

.nav__menu{
    position: absolute;
    top: 80%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.nav__menu.open__menu{
    max-height: 400px;
}

.menu__sub{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.sub__info{
    display: flex;
    align-items: center;
}

.sub__info .info__title{
    font: 600 25px "Poppins";
    color: #525252;
}

.sub__info .info__img{
    width: 70px;
    border-radius: 50%;
    margin:0 15px 0 -10px;
}

.menu__sub hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;

}

.sub__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub__link .link__text{
    width: 100%;
    font: 500 17px "Noto Sans";

}

.sub__link:hover .link__text{
    font-weight: 700;

}

.sub__link i:not(.ri-arrow-right-s-line){
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub__link .link__flec{
    transition: transform .5s;
    color: #555;
    font: 900 22px "Noto Sans";

}

.sub__link:hover .link__flec{
    transform: translateX(5px);
    
}

/* Section Inicio */

.sectioninicio {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectioninicio__carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel__list {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.list__unit {
    min-width: 100%;
    height: 75.7vh;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

/* Fondo de cada slide */
.list__unit:nth-child(1) {
    background: url("assets/image/nuestropuerto1.jpg") no-repeat center center/cover;
}

.list__unit:nth-child(2) {
    background: url("assets/image/puertocartagena.jpg") no-repeat center center/cover;
}

.list__unit:nth-child(3) {
    background: url("assets/image/puertodecarganoche.jpg") no-repeat center center/cover;
}

.content__title {
    font: 700 70px "Poppins";
    margin-left: 60px;
    color: var(--color-tercario);
}

.title--changed {
    line-height: 1.2;
}

span {
    color: var(--color-secundario);
}

.content__text {
    font: 400 25px "Montserrat";
    color: var(--color-tercario);
    margin: 10px 0 40px 60px;
    text-align: justify;
    width: 550px;
}

.content__btn {
    display: inline-block;
    font: 500 22px "Noto Sans";
    color: var(--color-primario);
    margin: 0 50px;
    padding: 15px 20px;
    background-color: var(--color-secundario);
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1);
    transition: transform .5s ease;
}

.content__btn:hover {
    transform: scale(1.1);
}

/* Indicadores */
.carousel__indicators {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 50px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: var(--color-secundario);
}

/* Section Impacto */
.section__impacto {
    padding: 100px 0 50px 0;
    text-align: center;
}

.content__titulo {
    position: relative;
    font: 700 50px/1.2 "Poppins";
    color: var(--color-primario);
    text-transform: capitalize;
    max-width: 1500px;
    margin: 0 0 40px 0;
}

.content__titulo::before {
    content: "";
    position: absolute;
    left: 35.7%;
    bottom: -2px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 70px;
    height: 5px;

}

.content__texto {
    font: 500 20px "Montserrat";
    color: var(--color-primario);
    text-transform: capitalize;
    margin-bottom: 20px;
    max-width: 1400px;
    margin: 10px 0 20px 60px;

}

.content__button {
    display: inline-block;
    font: 500 22px "Noto Sans";
    color: var(--color-primario);
    margin: 0 0 100px 0;
    padding: 15px 20px;
    background-color: var(--color-secundario);
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1);
    transition: transform .5s ease;
}

.content__button:hover {
    transform: scale(1.1);

}

/* Mantener las imágenes una al lado de la otra */
.content__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}


/* Mantiene el tamaño de las imágenes */
.content__img img {
    width: 650px;
    height: 700px;
    object-fit: cover;
    margin: -110px 0 0 0;

}


/* Ajuste para la segunda imagen y su texto */
.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-text img {
    width: 600px;
    height: 300px;
    margin: -82px 0px 10px 0;
}


/* Estilo para el subtítulo (h3) */
.impacto__subtitulo {
    position: relative;
    font: 600 30px "Poppins";
    color: var(--color-primario);
    margin-top: 20px;
    width: 500px;
}

.impacto__subtitulo::before {
    content: "";
    position: absolute;
    left: 17%;
    bottom: -3px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 60px;
    height: 5px;
}

/* Estilo para el párrafo (p) */
.impacto__descripcion {
    font: 500 18px "Montserrat";
    color: var(--color-quintario);
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.6;
}

/* Section Lineas Navieras */
.lineas-navieras {
    margin-bottom: 80px;
    text-align: center;
    background-color: var(--color-tercario);
    padding: 30px 20px;
    border-top: 2px solid var(--color-cuartario);
    border-bottom: 2px solid var(--color-cuartario);
}

.lineas-navieras__titulo {
    position: relative;
    font: 700 35px "Poppins";
    color: var(--color-cuartario);
    margin-bottom: 20px;
}

.lineas-navieras__titulo::before {
    content: "";
    position: absolute;
    left: 40.5%;
    bottom: -3px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 60px;
    height: 5px;
}

.lineas-navieras__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 900px;
    margin: auto;
}


.lineas-navieras__carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100%;
    padding: 10px 0;
}


.lineas-navieras__carousel::-webkit-scrollbar {
    display: none;
}


.lineas-navieras__item {
    flex: 0 0 auto;
    width: 180px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    transition: transform .5s ease;
}

.lineas-navieras__item:hover {
    transform: scale(1.1);
}

.lineas-navieras__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}


.lineas-navieras__boton {
    background: var(--color-cuartario);
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.lineas-navieras__boton i {
    font-size: 30px;
}


.lineas-navieras__boton:hover {
    background: #3099ff;
}

.lineas-navieras__boton--prev {
    left: -100px;
}

.lineas-navieras__boton--next {
    right: -100px;
}


.lineas-navieras__ver-todas {
    text-align: center;
    margin-top: 20px;
}

.lineas-navieras__boton-ver-todas {
    display: inline-block;
    text-decoration: none;
    background: var(--color-cuartario);
    color: var(--color-tercario);
    font: 500 20px "Noto Sans";
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: transform .5s ease, background .8s ease;
    transform: scale(1);

}

.lineas-navieras__boton-ver-todas:hover {
    transform: scale(1.1);
    background-color: #3099ff;
}

/* Section Preguntas Frecuentes */
.pqf {
    padding: 0 0 100px 0;
}

.pqf__title {
    font: 700 45px "Poppins";
    color: var(--color-primario);
    position: relative;
    text-align: center;
}

.pqf__title::before {
    content: "";
    position: absolute;
    left: 28.7%;
    bottom: 8px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 65px;
    height: 5px;
}

.pqf__content {
    margin: 50px 0 0 80px;
}

.pqf__text {
    font: 400 20px/1.5 "Montserrat";
    width: 600px;
    text-align: justify;
    margin-bottom: 30px;
}

.pqf__button {
    display: inline-block;
    font: 500 20px "Noto Sans";
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--color-secundario);
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-primario);
    transform: scale(1);
    transition: transform .5s ease;
}

.pqf__button:hover {
    transform: scale(1.1);
}

.pqf__questions {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -340px;
}

.questions__details {
    text-align: right;
    background-color: transparent;
    width: 100%;
    max-width: 700px;
    padding: 25px 0;
    border-radius: 20px;
    margin: 0 50px 25px 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 2px solid var(--color-cuartario);
    transition: all 0.3s ease-in-out;
}

.questions__details[open] .details__summary {
    border-bottom: 2px solid #007bff;
    border-radius: 10px 10px 0 0;
    padding: 0 0 20px 0;
}

.details__summary {
    position: relative;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    font: 500 20px "Noto Sans";
    color: var(--color-primario);
}

.summary__numero {
    font: 700 25px "Noto Sans";
    position: absolute;
    left: 20px;
}

.summary__icon i {
    font: 700 35px "Noto Sans";
    position: absolute;
    top: -5px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #eee;
    transition: transform 0.3s ease-in-out;
}

.questions__details[open] .summary__icon i {
    transform: rotate(180deg);
}

.summary__text {
    font: 500 15px/2 "Montserrat";
    text-align: justify;
    margin-top: 20px;
    padding: 0 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease-in-out;
}

/* Section Servicios */
.servicios {
    padding: 10px 0 100px 0;
}

.servicios__title {
    font: 700 50px "Poppins";
    color: var(--color-primario);
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;

}

.servicios__title::before {
    content: "";
    position: absolute;
    left: 42.6%;
    bottom: 5px;
    background-color: var(--color-secundario);
    width: 100%;
    max-width: 60px;
    height: 5px;
}

.servicios__text {
    font: 500 20px/1.6 "Montserrat";
    color: var(--color-primario);
    width: 1500px;
    padding: 0 100px;
    text-align: center;
    margin: 0 0 80px 0;
}

.servicios__btn {
    display: inline-block;
    font: 500 20px "Noto Sans";
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--color-secundario);
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 20px 45%;
    color: var(--color-primario);
    transform: scale(1);
    transition: transform .5s ease;
}

.servicios__btn:hover {
    transform: scale(1.1);
}


/* Section Noticias */
.noticias {
    padding: 10px 0 100px 0;
}

.noticias__btn {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    font: 500 20px "Noto Sans";
    display: inline-block;
    transform: scale(1);
    transition: transform .5s ease;
    margin: 0 0 20px 45.5%;
}

.noticias__btn:hover {
    transform: scale(1.1);
}

.noticias__title {
    font: 700 45px "Poppins";
    color: var(--color-primario);
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 50px 0;
}

.noticias__title::before {
    content: "";
    position: absolute;
    left: 44%;
    bottom: 1px;
    width: 100%;
    max-width: 60px;
    height: 5px;
    background-color: var(--color-secundario);
}

.noticias__content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;


}

.content__card {
    background: var(--color-tercario);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    cursor: pointer;
}



.card__imgnoticias .imgnoticias {
    width: 100%;
    border-radius: 8px;
}

.content__card:nth-child(3) .imgnoticias {
    height: 280px;
    object-fit: cover;
}

.content__card:nth-child(3) .imgnoticias--changed {
    height: 330px;
    object-fit: cover;
}

.content__card:nth-child(2) .imgnoticias--changed {
    height: 330px;
    object-fit: cover;
}

.card__titulo {
    color: #003366;
    font: 600 1.4rem/1.2 "Poppins";
    margin: 5px 0 8px 0;
}

.imgnoticias__sub {
    font: 600 0.9rem "Noto Sans";
    margin: 5px 0 5px 0;
}

.card__date {
    font: 500 0.9rem "Noto Sans";
    color: var(--color-quintario);
}

.card__information {
    font: 400 1rem "Montserrat";
    color: #333;
    margin: 8px 0 0 0;
}

.card__buttonnoticias {
    font: 400 15px "Noto Sans";
    display: inline-block;
    background: #004080;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background .5s ease;
}

.card__buttonnoticias:hover {
    background: #00264d;
}


/* footer */
.footer {
    background-color: var(--color-primario);
    color: var(--color-tercario);
    padding: 50px 0;
    font-family: "Noto Sans";
}

.footer__content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.content__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row__item {
    width: 25%;
    padding: 0 15px;
}

.row__item .item__title {
    font-size: 18px;
    color: var(--color-secundario);
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.row__item .item__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--color-secundario);
    height: 2px;
    width: 50px;
}

.row__item .item__list {
    list-style: none;
    padding: 0;
}

.row__item .item__list .list__footer {
    margin: 10px 0;
}

.row__item .item__list .list__footer .footer__link {
    color: var(--color-tercario);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}


.row__item .item__list .list__footer .footer__link:hover {
    color: var(--color-secundario);
}

.item__social {
    margin-top: 20px;
}

.item__social .social__link {
    display: inline-block;
    margin-right: 10px;
    color: var(--color-tercario);
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.item__social .social__link:hover {
    color: var(--color-secundario);
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .row__item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .row__item {
        width: 100%;
    }
}