<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Solicitud Atraque</title>
    <link rel="stylesheet" th:href="@{/css/AdminSolicitudAtraque.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <aside class="sidebar">
        <hr>
        <ul class="sidebar__menu"> 
            <li class="sidebar__item" th:attr="data-url=@{/buques/admin/}">
                <i class="ri-home-2-fill"></i>
                <span class="sidebar__text">Inicio</span>
            </li>
            
            <li class="sidebar__item" th:attr="data-url=@{/buques/dashboard-admin/}">
                <i class="ri-dashboard-horizontal-fill"></i>
                <span class="sidebar__text">Dashboard</span>
            </li>

            <li class="sidebar__item" th:attr="data-url=@{/buques/registro-muelle/}">
                <i class="ri-ship-2-fill"></i>
                <span class="sidebar__text">Registro Muelle</span>
            </li>

            <li class="sidebar__item" th:attr="data-url=@{/buques/horarios/}">
                <i class="ri-calendar-todo-fill"></i>
                <span class="sidebar__text">Horarios</span>
            </li>

            <li class="sidebar__item active" data-url="#">
                <i class="ri-file-list-2-fill"></i>
                <span class="sidebar__text">Gestion Solicitudes</span>
            </li>

            <div class="sidebar__indicator"></div>

            <li class="sidebar__item" th:attr="data-url=@{/buques/registro-usuarios/}">
                <i class="ri-user-add-fill"></i>
                <span class="sidebar__text">Registro Usuario</span>
            </li>
        </ul>

        <div class="card">
            <div class="circle">
                <i class="ri-moon-fill"></i>
            </div>
            <h2 class="card__title">Upgrade to PRO</h2>
            <p class="card__text">Improve your development process and start doing more with Horizon UI PRO!</p>
            <button class="card__btn" type="button">Upgrade to PRO</button>
        </div>
    </aside>

    <header class="header">
        <nav class="header__nav">

            <div class="nav__search">
                <i class="ri-search-line search__icon"></i>
                <input type="text" placeholder="Buscar..." class="search__input" />
            </div>

            <div class="language-wrapper">
                <div class="language-selector" data-flag="https://flagcdn.com/w40/es.png"
                    onclick="toggleLanguageMenu()">
                    <img id="currentFlag" src="https://flagcdn.com/w40/es.png" alt="Español" />
                </div>

                <div class="language-menu" id="languageMenu">
                    <div class="language-option" data-lang="es" data-flag="https://flagcdn.com/w40/es.png">
                        <img src="https://flagcdn.com/w40/es.png" alt="Español" />
                        <span>Español</span>
                    </div>
                    <div class="language-option" data-lang="zh" data-flag="https://flagcdn.com/w40/cn.png">
                        <img src="https://flagcdn.com/w40/cn.png" alt="Chino" />
                        <span>Chino</span>
                    </div>
                    <div class="language-option" data-lang="en" data-flag="https://flagcdn.com/w40/us.png">
                        <img src="https://flagcdn.com/w40/us.png" alt="Inglés" />
                        <span>Inglés</span>
                    </div>
                    <div class="language-option" data-lang="pt" data-flag="https://flagcdn.com/w40/pt.png">
                        <img src="https://flagcdn.com/w40/pt.png" alt="Portugués" />
                        <span>Portugués</span>
                    </div>
                    <div class="language-option" data-lang="fr" data-flag="https://flagcdn.com/w40/fr.png">
                        <img src="https://flagcdn.com/w40/fr.png" alt="Francés" />
                        <span>Francés</span>
                    </div>
                </div>
            </div>

            <div class="theme-toggle" title="Cambiar tema">
                <i class="ri-moon-fill" id="theme-icon"></i>
            </div>

            <div class="icono__notification" id="notificationIcon">
                <i class="ri-notification-2-fill"></i>
                <div class="notification-box" id="notificationBox">
                    <ul class="notification-list">
                        <li class="notification-item">
                            <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}"/>
                            <div class="notification-content">
                                <p  class="content__text"><strong class="text__keywork">Nuevo mensaje</strong> de tu médico.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 5 min</span>
                            </div>
                        </li>
                        <li class="notification-item">
                            <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}"/>
                            <div class="notification-content">
                                <p class="content__text"> mañana a las 9:00 AM.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 30 min</span>
                            </div>
                        </li>
                        <li class="notification-item">
                            <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}"/>
                            <div class="notification-content">
                                <p  class="content__text"><strong class="text__keywork">Actualización</strong> Se acepto una nueva solicitud.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 1 hora</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="icono__notification">
                <i class="ri-settings-4-fill"></i>
            </div>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}">
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/configuraciones}" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/notificaciones}" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar sesión</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="name__encabezado">
        <i class="ri-arrow-left-line"></i>
        <a class="encabezado__pages" th:href="@{/buques/}">Regresar /</a>
        <a class="encabezado__pages" href="">Pages /</a>
        <a class="encabezado__pages" href="">Gestion Solicitudes</a>
        <h1 class="encabezado__title">Gestion Solicitudes</h1>
    </div>

    <main class="main__content">
        <section class="table__container">

            <div class="container__button">
                <button class="button__add" th:attr="data-url=@{/buques/gestion-solicitud/}">
                    <i class="fas fa-building"></i>
                    <p class="add__text text--empresa">Empresa</p>
                </button>
                <button class="button__add add--atraque" data-url="#">
                    <i class="ri-ship-fill"></i>
                    <p class="add__text">Solicitudes de Atraque</p>
                </button>
                <button class="button__add add--procesos" th:attr="data-url=@{/buques/gestion-solicitud/admin-procesos}">
                    <i class="ri-flow-chart"></i>
                    <p class="add__text text--procesos">Procesos</p>
                </button>
            </div>

            <div class="container__table">
                <h2 class="notification__title">Solicitud Atraque</h2>

                <div class="notification__search-container">
                    <i class="ri-search-line"></i>
                    <input type="text" id="notificationSearch" placeholder="Buscar..." class="notification__search">
                </div>

                <div class="content__descarga">
                    <i class="ri-more-fill"></i>
                    <div class="exportar">
                        <div class="exportar-header">
                            Exportar A <i class="ri-arrow-right-long-line"></i>
                        </div>
                        <div class="exportar__item">
                            <div class="exportar-option">
                                <span>PDF</span>
                                <img th:src="@{/css/assets/image/pdf.png}" alt="Exportar PDF">
                            </div>
                            <div class="exportar-option">
                                <span>JSON</span>
                                <img th:src="@{/css/assets/image/json.png}" alt="Exportar JSON">
                            </div>
                            <div class="exportar-option">
                                <span>CSV</span>
                                <img th:src="@{/css/assets/image/csv.png}" alt="Exportar CSV">
                            </div>
                            <div class="exportar-option">
                                <span>EXCEL</span>
                                <img th:src="@{/css/assets/image/excel.png}" alt="Exportar Excel">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notification__table-container">
                    <table class="notification__table">
                        <thead>
                            <tr>
                                <th>Agente Naviero</th>
                                <th>Matricula</th>
                                <th>Tipo Buque</th>
                                <th>Procedencia</th>
                                <th>Fecha entrada</th>
                                <th>Fecha salida</th>
                                <th>Dimensiones</th>
                                <th>Validación</th>
                            </tr>
                        </thead>
                        <tbody id="notificationBody">
                            <tr th:if="${listarAtraques.isEmpty()}">
                                <td colspan="8" style="text-align: center; font-style: italic; color: #888;">
                                    Aún no existen Solicitudes de Atraque.
                                </td>
                            </tr>
                            <tr th:each="atraque : ${listarAtraques}">
                                <td th:text="${atraque.agenteNaviero.nombres} + ' ' + ${atraque.agenteNaviero.apellidos}">Nombre Completo Agente Naviero</td>
                                <td th:text="${atraque.buque.matricula}">Matricula buque</td>
                                <td th:text="${atraque.buque.tipoBuque}">Tipo Buque</td>
                                <td th:text="${atraque.paisProcedencia} + '/' + ${atraque.ciudadProcedencia} + '/' + ${atraque.puertoProcedencia}">Procedencia del Buque</td>
                                <td th:text="${#temporals.format(atraque.fechaLlegada, 'dd-MM-yyyy')}">Fecha de llegada</td>
                                <td th:text="${#temporals.format(atraque.fechaSalida, 'dd-MM-yyyy')}">Fecha salida</td>
                                <td th:text="${atraque.buque.dimensiones.largo} + '/' + ${atraque.buque.dimensiones.ancho} + '/' + ${atraque.buque.dimensiones.peso}">Dimensiones del Buque</td>
                                <td>
                                    <button class="content__icon icon--si" th:data-id="${atraque.id}">
                                        Si
                                    </button>
                                    <button class="content__icon icon--no" th:data-id="${atraque.id}">
                                        No
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="notification__pagination">
                        <p class="pagination__text">Mostrando 1-4 De 16</p>
                        <button class="pagination__flec"><i class="ri-arrow-left-s-line"></i></button>
                        <button class="pagination__btn active">1</button>
                        <button class="pagination__btn">2</button>
                        <button class="pagination__btn">3</button>
                        <button class="pagination__flec"><i class="ri-arrow-right-s-line"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--Ventana Modal interna de la tabla-->
    <div id="modalNotificacion" class="modal hidden">
        <div class="modal-content">
            <span class="modal-close" id="closeModal">&times;</span>
            <h2 class="modal-title">📝 Detalles De La Solicitud Atraque</h2>
            <div class="modal-info">
                <p class="modal__text"><strong class="text__str">Agente Naviero:</strong> <span
                        id="modalAgenteNaviero"></span></p>
                <p class="modal__text"><strong class="text__str">Matricula:</strong> <span id="modalMatricula"></span></p>
                <p class="modal__text"><strong class="text__str">Tipo Buque:</strong> <span id="modalTipoBuque"></span></p>
                <p class="modal__text"><strong class="text__str">Procedencia:</strong> <span id="modalProcedencia"></span></p>
                <p class="modal__text"><strong class="text__str">Fecha Entrada:</strong> <span id="modalFechaEntrada"></span>
                </p>
                <p class="modal__text"><strong class="text__str">Fecha Salida:</strong> <span id="modalFechaSalida"></span>
                </p>
                <p class="modal__text"><strong class="text__str">Dimensiones:</strong> <span id="modalDimensiones"></span></p>
            </div>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMACIÓN si -->
    <div id="modalConfirmacion" class="modal__confirmacion confirmacion--hidden">
        <div class="modal__contenido">
            <p class="contenido__text">¿Estas seguro de aceptar la validacion?</p>
            <form>
                <button type="button" class="boton boton-si">Sí</button>
                <button type="button" class="boton boton-no">No</button>
            </form>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMACIÓN no -->
    <div id="modalConfirmacion2" class="modal__confirmacion confirmacion--hidden">
        <div class="modal__contenido">
            <p class="contenido__text">¿Estas seguro de no aceptar la validacion?</p>
            <form method="post" id="formRechazar">
                <button type="submit" class="boton2 boton-si2">Sí</button>
                <button type="button" class="boton2 boton-no2">No</button>
            </form>
        </div>
    </div>

    <!--Modal de aceptar validacion-->
    <div class="modal__newadd newadd--hidden" id="modalnewadd2">
        <div class="modal__content">
            <span class="modal__close">&times;</span>
            <h2 class="content__titulo">Aceptar Validacion</h2>
            <div class="content__relleno"></div>
            <form method="post" class="add__formulario" id="formAprobar">

                <div class="formulario__input">
                    <div class="custom-select-wrapper">
                        <select class="styled-select" name="muelleId" id="Muelles" required>
                            <option disabled selected>Muelles disponibles</option>
                            <th:block th:each="muelle : ${muellesDisponibles}">
                                <option th:value="${muelle.id}" th:text="${muelle.nombre}"></option>
                            </th:block>
                        </select>
                        <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                    </div>
                    <p class="input__error error--Muelles">
                        Por favor, seleccione un muelle.
                    </p>
                </div>


                <div class="formulario__input">
                    <div class="input-box">
                        <textarea autocomplete="off" placeholder="" name="descripcionSolicitud" id="descripcion"></textarea>
                        <label class="label" for="descripcion">Descripcion</label>
                        <span class="box__icon"><i class="ri-check-line"></i></span>
                        <span class="box__icon"><i class="ri-close-line"></i></span>
                    </div>
                    <p class="input__error error--descripcion">Por favor, ingrese una descripción.</p>
                </div>

                <p class="input__advertencia">
                    <i class="ri-error-warning-line"></i> <b>Error:</b> Por favor rellene el formulario correctamente.
                </p>

                <button class="formulario__button" type="submit">Guardar Validacion</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/adminsolicitudatraque.js}"></script>
    <!-- jsPDF para exportar a PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- autoTable (complemento para jsPDF) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"></script>
    <!-- autoTable (complemento para Excel) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</body>
</html>