<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuraciones</title>
    <link rel="stylesheet" th:href="@{/css/Configuraciones.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Encabezado header-->
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__item"><a class="item__link" th:href="@{/buques/}">inicio</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/quienes-somos}">quienes somos</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/servicios}">servicios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/noticias}">Noticias</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/testimonios}">Testimonios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/contactos}">contactos</a></li>
                <li class="list__item" sec:authorize="!isAuthenticated()">
                    <a class="item__link  btn--signin" th:href="@{/auth/login}">Ingresar</a>
                </li>
            </ul>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}">
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a href="#" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/notificaciones}" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/solicitud-atraque/}" class="sub__link">
                        <i class="ri-dashboard-fill"></i>
                        <p class="link__text">Panel Control</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar Seccion</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>

                </div>
            </div>

        </nav>
    </header>
    <div class="parent">
        <div class="parent__item">
            <img class="item__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}">
            <h2 class="item__nombre" th:text="${usuario.nombres + ' ' + usuario.apellidos}">Nombre Usuario</h2>
            <div class="container__item__rol">
                <h3 class="item__rol" th:text="${usuario.rol}">Ninguno</h3>
            </div>
            <h4 class="item__details">Detalles</h4>
            <hr>
            <p class="item__info">
                <strong class="info__imp">Tipo Identificación:</strong>
                <span th:text="${usuario.tipoIdentificacion.descripcion}">Tipo de Identifiacaión</span>
            </p>

            <p class="item__info">
                <strong class="info__imp">Identificación:</strong>
                <span th:text="${usuario.numeroIdentificacion}">Número de Identificación</span>
            </p>

            <p class="item__info">
                <strong class="info__imp">Nombres:</strong>
                <span th:text="${usuario.nombres}">Nombres</span>
            </p>

            <p class="item__info">
                <strong class="info__imp">Apellidos:</strong>
                <span th:text="${usuario.apellidos}">Apellidos</span>
            </p>

            <p class="item__info">
                <strong class="info__imp">Email:</strong>
                <span th:text="${usuario.correo}">Correo Usuario</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">Empresa:</strong>
                <span th:text="${usuario.empresa.nombre}">Empresa</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">Nit:</strong>
                <span th:text="${usuario.empresa.nit}">N.I.T</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">Email Empresa:</strong>
                <span th:text="${usuario.empresa.correo}">Correo Empresa</span>
            </p>

            <p class="item__info">
                <strong class="info__imp">Teléfono:</strong>
                <span th:text="${usuario.telefono}">telefono usuario</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">País:</strong>
                <span th:text="${usuario.empresa.pais}">pais</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">Ciudad:</strong>
                <span th:text="${usuario.empresa.ciudad}">ciudad</span>
            </p>

            <p class="item__info" th:if="${usuario.empresa != null}">
                <strong class="info__imp">Dirección:</strong>
                <span th:text="${usuario.empresa.direccion}">direccion</span>
            </p>
        </div>
        <div class="div2">
            <div class="container">
                <h2 class="container__title">Activar autenticación en dos pasos</h2>
                <p class="container__text">Activa esta opción para proteger tu cuenta con una capa adicional de
                    seguridad.</p>

                <div class="container__switch">
                    <span class="switch__title">¿Activar autenticación en dos pasos?</span>
                    <label class="switch__label">
                        <input type="checkbox">
                        <span class="slider__label"></span>
                    </label>
                </div>

                <form class="formulario">
                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" id="pregunta1">
                                <option disabled selected>Selecciona una pregunta 1</option>
                                <option value="Mascota">¿Cuál es el nombre de tu  mascota?</option>
                                <option value="Colegio">¿Cuál fue tu primer colegio?</option>
                                <option value="Nacimiento">¿En qué ciudad naciste?</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error">
                            Por favor, seleccione una pregunta
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="text" autocomplete="off" placeholder="" name="Respuesta" id="respuesta1">
                            <label class="label" for="respuesta1">Respuesta 1</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--respuesta1">
                            La respuesta de la pregunta es obligatoria
                        </p>
                    </div>

                    <div class="formulario__input input--changed">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" id="pregunta2">
                                <option disabled selected>Selecciona una pregunta 2</option>
                                <option value="Comida">¿Cuál es tu comida favorita?</option>
                                <option value="Trabajo">¿Cuál fue tu primer trabajo?</option>
                                <option value="Amigo">¿Cómo se llama tu mejor amigo ?</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error">
                            Por favor, seleccione una pregunta
                        </p>
                    </div>

                    <div class="formulario__input input--changed">
                        <div class="input-box">
                            <input type="text" autocomplete="off" placeholder="" name="Respuesta" id="respuesta2">
                            <label class="label" for="respuesta2">Respuesta 2</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--respuesta2">
                            La respuesta de la pregunta es obligatoria
                        </p>
                    </div>

                    <p class="input__advertencia">
                        <i class="ri-error-warning-line"></i> <b>Error:</b> Por favor rellene el formulario
                        correctamente.
                    </p>

                    <div class="formulario__input">
                        <button class="input__btn" type="submit">Guardar configuración</button>
                    </div>

                </form>
            </div>

        </div>
        <div class="div3">
            <div class="content">
                <h2 class="content__title">Configuración de privacidad</h2>
                <p class="content__text">Selecciona quién puede ver tu perfil:</p>

                <form>
                    <div class="toggle-group">
                        <label class="toggle-option">
                            <input type="radio" name="privacidad" value="publico">
                            <span class="custom-radio"></span>
                            <span class="option__text">Público (todos pueden verlo)</span>
                        </label>

                        <label class="toggle-option">
                            <input type="radio" name="privacidad" value="usuarios">
                            <span class="custom-radio"></span>
                            <span class="option__text">Solo usuarios registrados</span>
                        </label>

                        <label class="toggle-option">
                            <input type="radio" name="privacidad" value="contactos">
                            <span class="custom-radio"></span>
                            <span class="option__text">Solo mis contactos</span>
                        </label>

                        <label class="toggle-option">
                            <input type="radio" name="privacidad" value="privado">
                            <span class="custom-radio"></span>
                            <span class="option__text">Solo yo</span>
                        </label>
                    </div>

                    <button type="submit">Guardar configuración</button>
                </form>
            </div>
        </div>
        <div class="div4">
            <div class="delete-container">
                <h2 class="container__title">Eliminar Cuenta</h2>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="confirm-delete">
                    <label class="wrapper__text" for="confirm-delete">Confirmo la desactivación de mi cuenta</label>
                </div>
                <button class="btn-delete" id="delete-btn" disabled>Desactivar cuenta</button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/configuraciones.js}"></script>
</body>

</html>