<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buque Cartagena</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" th:href="@{/css/assets/image/icons/Ships.png}">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
        <a class="content__links" href="">+57 3214153612</a>
        <a class="content__links" href="">buquescaribe@gmail.com</a>
        <a class="content__links" href="">provedores</a>
    </div>

    <!-- Encabezado header-->
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__item"><a class="item__link" href="#">inicio</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/quienes-somos}">quienes somos</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/servicios}">servicios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/noticias}">Noticias</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/testimonios}">Testimonios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/contactos}">contactos</a></li>
                <li class="list__item" sec:authorize="!isAuthenticated()">
                    <a class="item__link  btn--signin" th:href="@{/auth/login}">Ingresar</a>
                </li>
            </ul>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${#authentication.principal?.imagen}}" th:alt="${#authentication.principal?.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${#authentication.principal?.imagen}}" th:alt="${#authentication.principal?.imagen}" >
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/configuraciones}" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/notificaciones}" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/solicitud-atraque/}" class="sub__link">
                        <i class="ri-dashboard-fill"></i>
                        <p class="link__text">Panel Control</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar Seccion</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>

                </div>
            </div>

        </nav>
    </header>

    <!-- section inicio-->
    <section class="sectioninicio">
        <div class="sectioninicio__carousel">
            <div class="carousel__list">

                <div class="list__unit">
                    <div class="item__content">
                        <h1 class="content__title title--changed">Gestión Integral De <span>Buques</span> &
                            <span>Contenedores</span> Cartagena
                        </h1>
                        <p class="content__text">
                            Bienvenido a la plataforma líder en gestión y control de buques en el <strong>Puerto de
                                Cartagena</strong>.
                            Optimiza operaciones, agiliza procesos y accede a información en tiempo real sobre arribos,
                            salidas y logística marítima.
                        </p>
                        <a class="content__btn" th:href="@{/buques/noticias}">Mas Informacion</a>
                    </div>
                </div>

                <div class="list__unit ">
                    <div class="item__content">
                        <h2 class="content__title">Nuestro Puerto</h2>
                        <p class="content__text">
                            Bienvenidos a nuestro puerto, un lugar donde el mar y la historia se encuentran.
                            Aquí, cada muelle es testigo del esfuerzo y la dedicación de quienes trabajan día a día
                            para que el comercio, la exploración y la conexión entre naciones nunca se detengan.
                        </p>
                        <a class="content__btn" th:href="@{/buques/noticias}">Mas Informacion</a>
                    </div>
                </div>

                <div class="list__unit ">
                    <div class="item__content">
                        <h2 class="content__title">Nuestros Buques</h2>
                        <p class="content__text">
                            Cada buque que zarpa desde nuestro puerto es un emblema de determinación y compromiso.
                            Grandes embarcaciones mercantes, elegantes barcos de pasajeros y resistentes naves de carga
                            surcan nuestras aguas, llevando consigo historias, productos y esperanzas.
                        </p>
                        <a class="content__btn" th:href="@{/buques/noticias}">Mas Informacion</a>
                    </div>
                </div>

            </div>

            <!-- Indicators (Puntos de navegación) -->
            <div class="carousel__indicators">
                <span class="indicator active" data-index="0"></span>
                <span class="indicator" data-index="1"></span>
                <span class="indicator" data-index="2"></span>
            </div>
        </div>
    </section>

    <!-- section inicio 2-->
    <section class="section__impacto">
        <div class="impacto__content">

            <h2 class="content__titulo">Nuestro Impacto</h2>
            <p class="content__texto">El transporte marítimo es la columna vertebral del comercio global, moviendo
                aproximadamente el 90% de las mercancías a nivel mundial.
                Es una industria que conecta continentes, facilita el acceso a productos esenciales y contribuye al
                desarrollo económico de innumerables países.
                En [Tu Empresa/Proyecto], entendemos la importancia de este sector y trabajamos activamente para mejorar
                su eficiencia, sostenibilidad y capacidad de crecimiento.</p>

            <a class="content__button" href="">Mas Informacion</a>

            <div class="content__img">
                <img th:src="@{/css/assets/image/puertobuques.png}" alt="">
                <div class="img-text">
                    <img loading="lazy" th:src="@{/css/assets/image/puerto-nosotros.jpg}" alt="">
                    <h3 class="impacto__subtitulo">Nuestro Compromiso</h3>
                    <p class="impacto__descripcion">
                        En Gestión Integral De Buques & Contenedores Cartagena, trabajamos para optimizar el comercio
                        marítimo,
                        asegurando eficiencia, seguridad y sostenibilidad en cada operación. Conectamos mercados,
                        facilitamos el transporte de carga
                        y promovemos prácticas ecológicas que minimizan el impacto ambiental.
                    </p>
                    <a class="content__button button--changed" href="">Mas Informacion</a>
                </div>
            </div>

        </div>
    </section>

    <section class="servicios">
        <a th:href="@{/buques/servicios}" class="servicios__btn">Ver Todos</a>
        <h2 class="servicios__title">servicios</h2>
        <p class="servicios__text">
            En nuestra plataforma, ofrecemos una solución integral para la gestión eficiente de buques y contenedores.
            Contamos con herramientas avanzadas que permiten el monitoreo en tiempo real de la ubicación, carga y estado
            de cada embarcación y contenedor, asegurando una logística optimizada y segura.
            Nuestro sistema facilita la planificación de rutas.
        </p>

        <div class="noticias__content">
            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias" th:src="@{/css/assets/image/servicios1.jpeg}"
                        alt="">
                </figure>
                <header>
                    <h3 class="card__titulo">Gestión de Programación de Buques</h3>
                </header>
                <p class="card__information">
                    Accede a la programación actualizada de los buques que llegarán al puerto de Cartagena.
                    Esta herramienta permite conocer con precisión los horarios de llegada y salida de cada embarcación,
                    facilitando la planificaciónes portuarias.
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>

            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias imgnoticias--changed" th:src="@{/css/assets/image/servicio2.jpeg}"
                        alt="">
                </figure>
                <header>
                    <h3 class="card__titulo">Seguimiento de Carga y Descarga</h3>
                </header>
                <p class="card__information">
                    Permite a los agentes navieros monitorear el estado de la carga y descarga de los buques en tiempo real,
                    facilitando la coordinación entre las diferentes partes involucradas (buques, operarios, autoridades portuarias).
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>

            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias imgnoticias--changed" th:src="@{/css/assets/image/servicio3.jpeg}"
                        alt="">
                </figure>
                <header>
                    <h3 class="card__titulo">Asignación de Muelles y Recursos</h3>
                </header>
                <p class="card__information">
                    Herramienta para gestionar la asignación de muelles y recursos (grúas, espacio de almacenamiento, etc.)
                    para cada buque, asegurando que cada llegada se maneje de manera eficiente.
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>
        </div>

    </section>

    <section class="lineas-navieras">
        <h2 class="lineas-navieras__titulo">Líneas Navieras</h2>
        <div class="lineas-navieras__contenedor">
            <button class="lineas-navieras__boton lineas-navieras__boton--prev"><i
                    class="ri-arrow-left-s-line"></i></button>
            <div class="lineas-navieras__carousel">
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras.png}" alt="Hapag-Lloyd"></div>
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras2.png}" alt="Cosco Shipping">
                </div>
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras3.png}" alt="Alianca Ltd"></div>
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras4.png}" alt="APL"></div>
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras5.png}" alt="Hapag-Lloyd"></div>
                <div class="lineas-navieras__item"><img th:src="@{/css/assets/image/lineasnavieras6.png}" alt="Yang Ming">
                </div>
            </div>
            <button class="lineas-navieras__boton lineas-navieras__boton--next"><i
                    class="ri-arrow-right-s-line"></i></button>
        </div>

        <!-- Botón "Ver todas" -->
        <div class="lineas-navieras__ver-todas">
            <a class="lineas-navieras__boton-ver-todas">Ver todas</a>
        </div>
    </section>

    
    <section class="noticias">
        <a class="noticias__btn" th:href="@{/buques/noticias}">Ver Todas</a>
        <h2 class="noticias__title">Noticias</h2>
    
        <div class="noticias__content">
            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias" th:src="@{/css/assets/image/noticias1.jpeg}" alt="MV Madrid Express en el Puerto de Cartagena">
                    <figcaption class="imgnoticias__sub">MV Madrid Express en el Puerto de Cartagena</figcaption>
                </figure>
                <header>
                    <h3 class="card__titulo">Llega a Cartagena el primer barco de la Alianza Gemini</h3>
                    <time class="card__date" datetime="2025-03-16">16 MAR 2025</time>
                </header>
                <p class="card__information">
                    Cartagena da un paso estratégico en el comercio marítimo internacional con la llegada del MV Madrid Express,
                    el primer portacontenedores en atracar en el Grupo Puerto de Cartagena como parte del servicio US2 de la Cooperación Gemini, 
                    la alianza global entre las navieras Hapag-Lloyd y Maersk.
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>
    
            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias" th:src="@{/css/assets/image/noticias2.jpeg}" alt="Índice de Conectividad del Puerto de Cartagena">
                    <figcaption class="imgnoticias__sub">Índice de Conectividad del Puerto de Cartagena</figcaption>
                </figure>
                <header>
                    <h3 class="card__titulo">Cartagena, líder en conectividad marítima</h3>
                    <time class="card__date" datetime="2025-03-14">14 MAR 2025</time>
                </header>
                <p class="card__information">
                    Cartagena reafirma su liderazgo en la región al destacarse en el Índice de Conectividad de Transporte Marítimo 
                    para Puertos (PLSCI) de la UNCTAD correspondiente al IV Trimestre de 2024. 
                    Este indicador evalúa la integración de los puertos en las redes globales de transporte marítimo.
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>
    
            <article class="content__card">
                <figure class="card__imgnoticias">
                    <img class="imgnoticias" th:src="@{/css/assets/image/noticias3.jpg}" alt="Mujeres líderes en el Puerto de Cartagena">
                    <figcaption class="imgnoticias__sub">Mujeres líderes en el Puerto de Cartagena</figcaption>
                </figure>
                <header>
                    <h3 class="card__titulo">SPRC y Contecar, impulsores de empleo para mujeres</h3>
                    <time class="card__date" datetime="2025-03-07">7 MAR 2025</time>
                </header>
                <p class="card__information">
                    La Sociedad Portuaria Regional de Cartagena (SPRC) y Contecar han sido reconocidas nuevamente como dos de Los Mejores Lugares 
                    para Trabajar en Colombia, destacando su compromiso con la equidad de género y el desarrollo profesional de las mujeres.
                </p>
                <a class="card__buttonnoticias" href="#">Leer Más</a>
            </article>
        </div>
        
    </section>

    <section class="pqf">
        <h2 class="pqf__title">Preguntas Frecuentes (FAQ)</h2>

        <div class="pqf__content">
            <div class="pqf__info">
                <p class="pqf__text">
                    ¿Tienes más dudas? En nuestra sección de Preguntas Frecuentes hemos recopilado las consultas más
                    habituales de nuestros clientes para brindarte información clara y detallada sobre nuestros
                    servicios.
                    Aquí podrás encontrar respuestas sobre nuestros tiempos de entrega, métodos de envío, costos,
                    restricciones de mercancías, seguimiento de paquetes y muchas otras dudas que puedan surgir en el
                    proceso.

                </p>
                <a href="" class="pqf__button">Ver Todas</a>
            </div>
        </div>

        <div class="pqf__questions">
            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">01</span>
                    ¿Cuánto tarda un envío internacional?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">El tiempo de envío varía según la ruta y el destino. En promedio, los
                    envíos internacionales pueden tardar entre 10 y 45 días,
                    dependiendo del puerto de origen y destino, así como de las condiciones climáticas y aduaneras.
                </p>
            </details>

            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">02</span>
                    ¿Qué tipos de carga transportan?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">Transportamos diversos tipos de carga, incluyendo carga general, carga
                    refrigerada, productos químicos y mercancías peligrosas.
                    Es importante verificar las regulaciones específicas para cada tipo de producto antes del envío.
                </p>
            </details>

            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">03</span>
                    ¿Qué sucede si mi carga se retrasa o se pierde?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">En caso de retrasos, notificamos al cliente sobre la nueva fecha estimada
                    de entrega. Si un envío se pierde, iniciamos una investigación
                    y, si corresponde, aplicamos un seguro de carga para compensar al remitente según las
                    condiciones acordadas.
                </p>
            </details>

            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">04</span>
                    ¿Qué tipo de mercancías tienen restricciones de envío?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">Algunas mercancías, como productos inflamables, explosivos, sustancias
                    tóxicas y materiales perecederos, tienen restricciones de envío.
                    Se recomienda consultar la normativa vigente antes de realizar un envío.
                </p>
            </details>

            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">05</span>
                    ¿Ofrecen descuentos para clientes frecuentes?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">Sí, contamos con un programa de fidelización para clientes frecuentes, que
                    incluye descuentos en tarifas de envío y beneficios exclusivos.
                    Contáctanos para obtener más información sobre cómo inscribirte.
                </p>
            </details>

            <details class="questions__details">
                <summary class="details__summary">
                    <span class="summary__numero">06</span>
                    ¿Se puede programar la fecha de entrega de un envío?
                    <span class="summary__icon"><i class="ri-arrow-down-s-line"></i></span>
                </summary>
                <p class="summary__text">Sí, ofrecemos la opción de programar entregas en fechas específicas,
                    dependiendo de la disponibilidad de rutas y transportistas.
                    Se recomienda coordinarlo con anticipación para garantizar la mejor planificación posible.
                </p>
            </details>
        </div>
    </section>


    <footer class="footer">
        <div class="footer__content">
            <div class="content__row">
                <div class="row__item">
                    <h4 class="item__title">company</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">about us</a></li>
                        <li class="list__footer"><a class="footer__link" href="#servicios">our services</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">privacy policy</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">affiliate program</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">get help</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">FAQ</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">shipping</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">returns</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">order status</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">online shop</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">watch</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">bag</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">shoes</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">dress</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">follow us</h4>
                    <div class="item__social">
                        <a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/main.js}"></script>
</body>

</html>