<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buque Cartagena</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <!-- Encabezado header-->
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__item"><a class="item__link" href="#inicio">inicio</a></li>
                <li class="list__item"><a class="item__link" href="#nosotros">nosotros</a></li>
                <li class="list__item"><a class="item__link" href="">servicios</a></li>
                <li class="list__item"><a class="item__link" href="#contactos">contactos</a></li>

                <!-- Aquí mostramos el nombre del usuario -->
                <li class="list__item user-info">
                <span class="item__user">
                    <span th:if="${usuario != null}">Bienvenido, <span class="username" th:text="${usuario}"></span></span>
                    <span th:unless="${usuario != null}"><a class="item__link btn--signin" href="/api/agente/login">Sign in</a></span>
                </span>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="sectioninicio" id="inicio">
            <div class="sectioninicio__bienvenida">
                <h1 class="bienvenida__title">Gestión Integral De <span class="title__span">Buques </span> & <span class="title__span">Contenedores</span> Cartagena</h1>
                <p class="bienvenido__text">
                    Bienvenido a la plataforma líder en gestión y control de     buques en el <strong>Puerto de Cartagena</strong>.
                    Optimiza operaciones, agiliza procesos y accede a información en tiempo real sobre arribos, salidas y logística marítima.  </p>
                <a class="bienvenida__btn" href="">Mas Informacion</a>
            </div>
        </section>
    </main>

    <section class="Nosotros" id="nosotros">
        <div class="Nosotros__content">

            <h2 class="Nosotros__titleinicio">Nosotros</h2>
            <p class="Nosotros__textinicio">"Gestión y control de buques en el <strong>Puerto de Cartagena</strong>., tu
                aliado estratégico en el transporte marítimo y la logística de carga. Con experiencia, innovación y
                compromiso, llevamos tu mercancía a su destino de manera segura y eficiente. ¡Naveguemos juntos hacia el
                éxito!"</p>

            <div class="content__main">
                <div class="content__left">
                    <div class="content__item">
                        <span class="item__icon"><i class="fa-solid fa-ship"></i></span>
                        <p class="item__text">
                            En <strong>Gestión Integral De Buques & Contenedores Cartagena</strong>, somos líderes en el
                            sector marítimo y logístico en Cartagena, brindando soluciones integrales para el transporte
                            y manejo de carga a nivel nacional e internacional.
                        </p>
                    </div>

                    <div class="content__item">
                        <span class="item__icon"><i class="fa-solid fa-ferry"></i></span>
                        <p class="item__text">
                            Con años de experiencia en la industria, nos especializamos en la operación de buques,
                            almacenamiento y transporte de contenedores, garantizando eficiencia, seguridad y
                            cumplimiento en cada envío.
                        </p>
                    </div>
                </div>

                <div class="content__img">
                    <img loading="lazy" th:src="@{../assets/image/buque_nosotros.png}" alt="puerto nosotros">
                </div>

                <div class="content__rigth">
                    <div class="content__item">
                        <span class="item__icon"><i class="fa-solid fa-anchor"></i></span>
                        <p class="item__text">
                            Nuestro compromiso es ofrecer un servicio de calidad que optimice la cadena de suministro de
                            nuestros clientes, adaptándonos a sus necesidades con tecnología avanzada, una flota moderna
                            y un equipo altamente capacitado
                        </p>
                    </div>
                    <div class="content__item">
                        <span class="item__icon"><i class="fa-solid fa-water"></i></span>
                        <p class="item__text">
                            En <strong>Gestión Integral De Buques & Contenedores Cartagena</strong>, navegamos hacia el
                            futuro con innovación y confiabilidad. ¡Confía en nosotros para llevar tu carga a su destino
                            de manera segura y eficiente!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="contactos" class="section-contactos">
        <div class="container-contactos">
            <div class="box-info">
                <h2>CONTÁCTATE CON NOSOTROS</h2>
                <div class="data">
                    <p><i class="fa-solid fa-phone"></i> +1 408 224 4587</p>
                    <p><i class="fa-solid fa-envelope"></i> livingcodedev@gmail.com</p>
                    <p><i class="fa-solid fa-location-dot"></i> 30 Grant Ave San Francisco CA 94108-5834. USA</p>
                </div>
                <div class="links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <form>
                <div class="input-box">
                    <input type="text" placeholder="Nombre y apellido" required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" required placeholder="Correo electrónico">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Asunto">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="input-box">
                    <textarea placeholder="Escribe tu mensaje..."></textarea>
                </div>
                <button type="submit">Enviar mensaje</button>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#servicios">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="/api/agente/cerrar-session">cerrar-sesion</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>