<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" th:href="@{/css/Notificaciones.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Encabezado header-->
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__item"><a class="item__link" th:href="@{/buques/}">inicio</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/quienes-somos}">quienes somos</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/servicios}">servicios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/noticias}">Noticias</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/testimonios}">Testimonios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/contactos}">contactos</a></li>
                <li class="list__item" sec:authorize="!isAuthenticated()">
                    <a class="item__link  btn--signin" th:href="@{/auth/login}">Ingresar</a>
                </li>
            </ul>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}">
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/configuraciones}" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a href="#" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/solicitud-atraque/}" class="sub__link">
                        <i class="ri-dashboard-fill"></i>
                        <p class="link__text">Panel Control</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar Seccion</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>

                </div>
            </div>

        </nav>
    </header>

    <div class="content">
        <div class="profile-header">
            <div class="profile-info">
                <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" />
                <div class="info__user">
                    <h1 class="user__title" th:text="${usuario.nombres + ' ' + usuario.apellidos}">
                        Nombre Usuario
                    </h1>
                    <p class="user__text" th:text="${usuario.correo}">
                        Email Usuario
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="container__table">
        <h2 class="notification__title">Notificaciones</h2>

        <div class="notification__search-container">
            <i class="ri-search-line"></i>
            <input type="text" id="notificationSearch" placeholder="Buscar..." class="notification__search">
        </div>

        <div class="notification__table-container">
            <table class="notification__table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>ID/Código</th>
                        <th>Ubicación</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody id="notificationBody">
                    <tr>
                        <td>Buque</td>
                        <td class="notification__description">
                            El buque "Ocean Pearl" ha llegado al puerto tras completar su travesía desde Asia,
                            trayendo mercancía importante para los sectores industriales clave del país.
                            Durante su viaje, enfrentó condiciones climáticas adversas que retrasaron
                            ligeramente su arribo, sin embargo, logró mantener la integridad de la carga.
                            Se espera que la descarga comience en las próximas horas, priorizando productos
                            tecnológicos, componentes automotrices y suministros médicos.
                        </td>
                        <td>9 Abril</td>
                        <td>IMO9834721</td>
                        <td>Manzanillo</td>
                        <td>Llegado</td>
                    </tr>
                    <tr>
                        <td>Contenedor</td>
                        <td class="notification__description">
                            El contenedor "ABC123" está en proceso de descarga en el Muelle 5. Este contenedor
                            contiene productos químicos peligrosos que requieren manejo especializado para
                            garantizar la seguridad en su manipulación.
                            La descarga está siendo supervisada por un equipo especializado en materiales
                            peligrosos, y se estima que el proceso se completará en las próximas 2 horas, tras
                            lo cual se realizará un inspección de seguridad antes de que el contenedor sea
                            trasladado al almacén asignado.
                        </td>
                        </td>
                        <td>30 Minutos</td>
                        <td>CONT123456</td>
                        <td>Muelle 5</td>
                        <td>Descargando</td>
                    </tr>
                    <tr>
                        <td>Buque</td>
                        <td class="notification__description">
                            Buque "Viking Star" ha zarpado del puerto después de completar con éxito todas las
                            verificaciones de seguridad y documentación necesarias. Esta nave, con destino a
                            Europa,
                            transporta cargas clave que se espera lleguen a tiempo para la temporada alta. Se
                            estima que llegará a su puerto de destino en aproximadamente 10 días, dependiendo de
                            las condiciones del mar.
                        </td>
                        <td>30/03/25</td>
                        <td>IMO7896543</td>
                        <td>En tránsito</td>
                        <td>Zarpado</td>
                    </tr>
                    <tr>
                        <td>Contenedor</td>
                        <td class="notification__description">
                            El contenedor "ABC123" está actualmente en inspección en el Puerto de Veracruz. Se
                            está verificando el cumplimiento de todas las normativas de seguridad y aduaneras
                            antes de ser liberado para su distribución.
                            El proceso de inspección se espera que dure entre 24 a 48 horas, dependiendo de los
                            resultados de la revisión y si se requieren más verificaciones. Este contenedor
                            contiene mercancías de alto valor, por lo que el procedimiento está siendo manejado
                            con prioridad.
                        </td>
                        <td>5 Abril</td>
                        <td>CONT654321</td>
                        <td>Veracruz</td>
                        <td>inspección</td>
                    </tr>
                    <!-- Más filas si es necesario -->
                    <tr>
                        <td>Buque</td>
                        <td class="notification__description">
                            El buque "Atlantic Breeze" ha atracado esta mañana en el Puerto de Cartagena, procedente de
                            Río de Janeiro.
                            Transporta maquinaria pesada destinada a proyectos de infraestructura nacional.
                            Las operaciones de descarga se llevarán a cabo en el Muelle 3 bajo estrictas medidas de
                            seguridad.
                            Se prevé que la maniobra dure aproximadamente 6 horas debido al tamaño y peso de la carga.
                        </td>
                        <td>14 Abril</td>
                        <td>IMO8745210</td>
                        <td>Cartagena</td>
                        <td>Llegado</td>
                    </tr>
                    <tr>
                        <td>Contenedor</td>
                        <td class="notification__description">
                            El contenedor "XZL789" fue identificado con irregularidades en la documentación durante el
                            proceso de
                            ingreso al puerto. Actualmente se encuentra retenido en la zona de inspección aduanera de
                            Cartagena,
                            a la espera de verificación adicional. Se sospecha que contiene mercancía no declarada.
                            Autoridades competentes han sido notificadas para proceder con la investigación
                            correspondiente.
                        </td>
                        <td>13 Abril</td>
                        <td>CONT789123</td>
                        <td>Cartagena</td>
                        <td>Retenido</td>
                    </tr>
                    <tr>
                        <td>Buque</td>
                        <td class="notification__description">
                            "Neptune Harmony", un buque de gran calado, está próximo a arribar al puerto de Cartagena.
                            Actualmente se encuentra en rada esperando turno para ingresar al muelle. A bordo transporta
                            granel agrícola destinado a la zona norte del país. El ingreso está programado para las
                            próximas 12 horas.
                        </td>
                        <td>14 Abril</td>
                        <td>IMO6674529</td>
                        <td>Rada Cartagena</td>
                        <td>En espera</td>
                    </tr>
                    <tr>
                        <td>Contenedor</td>
                        <td class="notification__description">
                            El contenedor "LMN456" ha sido descargado con éxito y se encuentra en tránsito hacia la
                            bodega fiscal
                            número 7 en Cartagena. Contiene repuestos para maquinaria industrial y ha sido clasificado
                            como carga prioritaria.
                            El traslado se realiza bajo custodia especializada debido al alto valor de los productos.
                        </td>
                        <td>14 Abril</td>
                        <td>CONT456789</td>
                        <td>Cartagena</td>
                        <td>En tránsito</td>
                    </tr>
                </tbody>
            </table>

            <div class="notification__pagination">
                <p class="pagination__text">Mostrando 1-4 De 16</p>
                <button class="pagination__flec"><i class="ri-arrow-left-s-line"></i></button>
                <button class="pagination__btn active">1</button>
                <button class="pagination__btn">2</button>
                <button class="pagination__btn">3</button>
                <button class="pagination__flec"><i class="ri-arrow-right-s-line"></i></button>
            </div>
        </div>
    </div>

    <div id="modalNotificacion" class="modal hidden">
        <div class="modal-content">
            <span class="modal-close" id="closeModal">&times;</span>
            <h2 class="modal-title">📝 Detalles de la Notificación</h2>
            <div class="modal-info">
                <p class="modal__text"><strong class="text__str">Tipo:</strong> <span id="modalTipo"></span></p>
                <p class="modal__text"><strong class="text__str">Fecha:</strong> <span id="modalFecha"></span></p>
                <p class="modal__text"><strong class="text__str">ID/Código:</strong> <span id="modalCodigo"></span></p>
                <p class="modal__text"><strong class="text__str">Ubicación:</strong> <span id="modalUbicacion"></span></p>
                <p class="modal__text"><strong class="text__str">Estado:</strong> <span id="modalEstado"></span></p>
            </div>
            <div class="modal-description">
                <h3>📄 Descripción:</h3>
                <p id="modalDescripcion"></p>
            </div>
        </div>
    </div>

    <script th:src="@{/js/Notificaciones.js}"></script>
</body>

</html>