<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud Atraque</title>
    <link rel="stylesheet" th:href="@{/css/SolicitudAtraque.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <aside class="sidebar">
        <hr>
        <ul class="sidebar__menu">
            <li class="sidebar__item" data-url="{@/buques/AgenteNaviero}">
                <i class="ri-home-2-fill"></i>
                <span class="sidebar__text">Inicio</span>
            </li>
            <li class="sidebar__item active" data-url="">
                <i class="ri-ship-fill"></i>
                <span class="sidebar__text">Solicitud Atraque</span>
            </li>
            <div class="sidebar__indicator"></div>
            <li class="sidebar__item" data-url="{@/buques/Procesos.html}">
                <i class="ri-flow-chart"></i>
                    <span class="sidebar__text">Procesos</span>
                </a>
            </li>
        </ul>
        <div class="card">
            <div class="circle">
                <i class="ri-moon-fill"></i>
            </div>
            <h2 class="card__title">Upgrade to PRO</h2>
            <p class="card__text">Improve your development process and start doing more with Horizon UI PRO!</p>
            <button class="card__btn" type="button">Upgrade to PRO</button>
        </div>
    </aside>

    <header class="header">
        <nav class="header__nav">

            <div class="nav__search">
                <i class="ri-search-line search__icon"></i>
                <input type="text" placeholder="Buscar..." class="search__input" />
            </div>

            <div class="language-wrapper">
                <div class="language-selector" data-flag="https://flagcdn.com/w40/es.png"
                    onclick="toggleLanguageMenu()">
                    <img id="currentFlag" src="https://flagcdn.com/w40/es.png" alt="Español" />
                </div>

                <div class="language-menu" id="languageMenu">
                    <div class="language-option" data-lang="es" data-flag="https://flagcdn.com/w40/es.png">
                        <img src="https://flagcdn.com/w40/es.png" alt="Español" />
                        <span>Español</span>
                    </div>
                    <div class="language-option" data-lang="zh" data-flag="https://flagcdn.com/w40/cn.png">
                        <img src="https://flagcdn.com/w40/cn.png" alt="Chino" />
                        <span>Chino</span>
                    </div>
                    <div class="language-option" data-lang="en" data-flag="https://flagcdn.com/w40/us.png">
                        <img src="https://flagcdn.com/w40/us.png" alt="Inglés" />
                        <span>Inglés</span>
                    </div>
                    <div class="language-option" data-lang="pt" data-flag="https://flagcdn.com/w40/pt.png">
                        <img src="https://flagcdn.com/w40/pt.png" alt="Portugués" />
                        <span>Portugués</span>
                    </div>
                    <div class="language-option" data-lang="fr" data-flag="https://flagcdn.com/w40/fr.png">
                        <img src="https://flagcdn.com/w40/fr.png" alt="Francés" />
                        <span>Francés</span>
                    </div>
                </div>
            </div>

            <div class="theme-toggle" title="Cambiar tema">
                <i class="ri-moon-fill" id="theme-icon"></i>
            </div>

            <div class="icono__notification" id="notificationIcon">
                <i class="ri-notification-2-fill"></i>
                <div class="notification-box" id="notificationBox">
                    <ul class="notification-list">
                        <li class="notification-item">
                            <img th:src="@{assets/image/fotousuario.webp}" alt=""/>
                            <div class="notification-content">
                                <p  class="content__text"><strong class="text__keywork">Nuevo mensaje</strong> de tu médico.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 5 min</span>
                            </div>
                        </li>
                        <li class="notification-item">
                            <img th:src="@{assets/image/fotousuario.webp}" alt=""/>
                            <div class="notification-content">
                                <p class="content__text"> mañana a las 9:00 AM.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 30 min</span>
                            </div>
                        </li>
                        <li class="notification-item">
                            <img th:src="@{assets/image/fotousuario.webp}" alt=""/>
                            <div class="notification-content">
                                <p  class="content__text"><strong class="text__keywork">Actualización</strong> Se acepto una nueva solicitud.</p>
                                <span class="content__time"><i class="ri-time-fill"></i></span>
                                <span class="time"> hace 1 hora</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="icono__notification">
                <i class="ri-settings-4-fill"></i>
            </div>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${usuario.imagen}}" th:alt="${usuario.imagen}">
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/configuraciones}" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/notificaciones}" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar Seccion</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>
                    
                </div>
            </div>
        </nav>
    </header>

    <div class="name__encabezado">
        <i class="ri-arrow-left-line"></i>
        <a class="encabezado__pages" th:href="@{/buques/}">Regresar /</a>
        <a class="encabezado__pages" href="">Pages /</a>
        <a class="encabezado__pages" href="">Solicitud Atraque</a>
        <h1 class="encabezado__title">Solicitud Atraque</h1>
    </div>

    <!-- Tabla -->
    <main class="main__content">
        <section class="table__container">
            <div class="container__button">
                <button class="button__add">
                    <i class="ri-add-fill"></i>
                    <p class="add__text">Crear Nueva Solicitud</p>
                </button>
            </div>


            <div class="container__table">
                <h2 class="notification__title">Solicitud Atraque</h2>

                <div class="notification__search-container">
                    <i class="ri-search-line"></i>
                    <input type="text" id="notificationSearch" placeholder="Buscar..." class="notification__search">
                </div>

                <div class="content__descarga">
                    <i class="ri-more-fill"></i>
                    <div class="exportar">
                        <div class="exportar-header">
                            Exportar A <i class="ri-arrow-right-long-line"></i>
                        </div>
                        <div class="exportar__item">
                            <div class="exportar-option">
                                <span>PDF</span>
                                <img th:src="@{/css/assets/image/pdf.png}" alt="Exportar PDF">
                            </div>
                            <div class="exportar-option">
                                <span>JSON</span>
                                <img th:src="@{/css/assets/image/json.png}" alt="Exportar JSON">
                            </div>
                            <div class="exportar-option">
                                <span>CSV</span>
                                <img th:src="@{/css/assets/image/csv.png}" alt="Exportar CSV">
                            </div>
                            <div class="exportar-option">
                                <span>EXCEL</span>
                                <img th:src="@{/css/assets/image/excel.png}" alt="Exportar Excel">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notification__table-container">
                    <table class="notification__table">
                        <thead>
                            <tr>
                                <th>Matrícula</th>
                                <th>Nombre</th>
                                <th>Tipo Buque</th>
                                <th>Procedencia</th>
                                <th>Destino</th>
                                <th>Fecha Salida</th>
                                <th>Fecha Entrada</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="notificationBody">
                            <tr th:if="${listarAtraques.isEmpty()}">
                                <td colspan="8" style="text-align: center; font-style: italic; color: #888;">
                                    Aún no tiene solicitudes de atraque registradas.
                                </td>
                            </tr>
                            <tr th:each="atraque : ${listarAtraques}">
                                <td th:text="${atraque.buque.matricula}">Matrícula</td>
                                <td th:text="${atraque.buque.nombre}">Nombre</td>
                                <td th:text="${atraque.buque.tipoBuque}">Tipo Buque</td>
                                <td th:text="${atraque.paisProcedencia + '/' + atraque.ciudadProcedencia + '/' + atraque.puertoProcedencia}">
                                    Procedencia
                                </td>
                                <td th:text="${atraque.paisDestino + '/' + atraque.ciudadDestino + '/' + atraque.puertoDestino}">
                                    Destino
                                </td>
                                <td th:text="${#temporals.format(atraque.fechaSalida, 'dd-MM-yyyy')}">Fecha Salida</td>
                                <td th:text="${#temporals.format(atraque.fechaLlegada, 'dd-MM-yyyy')}">Fecha Llegada</td>
                                <td>
                                    <div class="action-buttons">
                                        <button class="content__icon icon--edit" th:data-id="${atraque.id}"><i class="ri-pencil-line"></i></button>
                                        <button class="content__icon icon--delete" th:data-id="${atraque.id}"><i class="ri-delete-bin-6-line"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="notification__pagination">
                        <p class="pagination__text">Mostrando 1-4 De 16</p>
                        <button class="pagination__flec"><i class="ri-arrow-left-s-line"></i></button>
                        <button class="pagination__btn active">1</button>
                        <button class="pagination__btn">2</button>
                        <button class="pagination__btn">3</button>
                        <button class="pagination__flec"><i class="ri-arrow-right-s-line"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- MODAL PARA CONFIRMACIÓN editar -->
    <div id="modalConfirmacion" class="modal__confirmacion confirmacion--hidden">
        <div class="modal__contenido">
            <p class="contenido__text">¿Estas Seguro que quieres editar este registro?</p>
            <form>
                <button type="button" class="boton boton-si">Sí</button>
                <button type="button" class="boton boton-no">No</button>
            </form>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMACIÓN eliminar -->
    <div id="modalConfirmacion2" class="modal__confirmacion confirmacion--hidden">
        <div class="modal__contenido">
            <p class="contenido__text">¿Estas seguro que quieres eliminar este registro?</p>
            <form method="post" id="formEliminar">
                <button type="submit" class="boton2 boton-si2">Sí</button>
                <button type="button" class="boton2 boton-no2">No</button>
            </form>
        </div>
    </div>

    <!--Ventana Modal interna de la tabla-->
    <div id="modalNotificacion" class="modal hidden">
        <div class="modal-content">
            <span class="modal-close" id="closeModal">&times;</span>
            <h2 class="modal-title">📝 Detalles De Solicitud Atraque</h2>
            <div class="modal-info">
                <p class="modal__text"><strong class="text__str">Matricula:</strong> <span id="modalMatricula"></span>
                </p>
                <p class="modal__text"><strong class="text__str">Nombre:</strong> <span id="modalNombre"></span></p>
                <p class="modal__text"><strong class="text__str">Tipo Buque:</strong> <span id="modalTipoBuque"></span>
                </p>
                <p class="modal__text"><strong class="text__str">Procedencia:</strong> <span
                        id="modalProcedencia"></span>
                </p>
                <p class="modal__text"><strong class="text__str">Destino:</strong> <span id="modalDestino"></span></p>
                <p class="modal__text"><strong class="text__str">FechaSalida:</strong> <span
                        id="modalFechaSalida"></span></p>
                <p class="modal__text"><strong class="text__str">FechaEntrada:</strong> <span
                        id="modalFechaEntrada"></span></p>
            </div>
        </div>
    </div>

    <!--Modal añadir nuevo registro-->
    <div class="modal__newadd newadd--hidden" id="modalnewadd">
        <div class="modal__content">
            <span class="modal__close">&times;</span>
            <h2 class="content__titulo">Añadir Nueva Solicitud Atraque</h2>
            <div class="content__relleno"></div>
            <form action="/buques/solicitud-atraque/crear-solicitud" method="post" class="add__formulario">

                <fieldset class="buque__field">
                    <legend class="field__legend">Favor diligenciar el siguiente formulario</legend>
                    <div class="formulario__input">
                        <div class="input-box ">
                            <input type="text" autocomplete="off" placeholder="" name="buque.matricula" id="matricula">
                            <label class="label label--changed1" for="matricula">Matricula</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--Matricula">
                            La matrícula ingresada no es válida.
                            Asegúrese de que esté en el formato correcto.
                            (Ejemplo: PC-PAN-22388)
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="text" autocomplete="off" placeholder="" name="buque.nombre" id="nombreBuque">
                            <label class="label label--changed1" for="nombreBuque">Nombre</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El nombre del buque es obligatorio.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="buque.tipoBuque" id="tipoBuque">
                                <option disabled selected>Tipo De Buque</option>
                                <option th:each="tipo : ${tiposBuque}"
                                        th:value="${tipo.name()}"
                                        th:text="${tipo.descripcion}">Tipos Buque</option>
                                </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--tipoBuque">
                            Por favor, seleccione un tipo de buque.
                        </p>
                    </div>


                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.ancho"
                                id="ancho">
                            <label class="label label--changed1" for="ancho">Ancho (M)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El ancho minima es de 50 y el maximo de 5000.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.largo"
                                id="altura">
                            <label class="label label--changed1" for="altura">Largo (M)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            La altura minima es de 50 y el maximo de 5000.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.peso"
                                id="peso">
                            <label class="label label--changed1" for="peso">Peso (T)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El peso minimo es de 50 y el maximo de 1000.
                        </p>
                    </div>

                    <!-- Selector de país -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="paisProcedencia" id="selectPaisProcedencia">
                                <option disabled selected>Pais Procedencia</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--PaisProcedencia">Por favor, seleccione un país de procedencia.</p>
                    </div>

                    <!-- Selector de ciudad -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper wrapper--changed">
                            <select class="styled-select" name="ciudadProcedencia" id="selectCiudadProcedencia">
                                <option disabled selected>Ciudad Procedencia</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--CiudadProcedencia">Por favor, seleccione una ciudad de
                            procedencia.</p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="text" autocomplete="off" placeholder="" name="puertoProcedencia"
                                id="puertoProcedencia">
                            <label class="label label--changed" for="puertoProcedencia">Puerto Procedencia</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--PuertoProcedencia">
                            Puerto no válido. Ingrese un nombre valido
                            (ej. "Puerto de Barcelona") o un código válido
                            (ej. "ESBCN").
                        </p>
                    </div>

                    <!-- Selector de país -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="paisDestino" id="selectPaisDestino">
                                <option disabled selected>Pais Destino</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--PaisDestino">Por favor, seleccione un país de Destino.</p>
                    </div>

                    <!-- Selector de ciudad -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper wrapper--changed">
                            <select class="styled-select" name="ciudadDestino" id="selectCiudadDestino">
                                <option disabled selected>Ciudad Destino</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--CiudadDestino">
                            Por favor, seleccione una ciudad de Destino.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="text" autocomplete="off" placeholder="" name="puertoDestino"
                                id="puertoDestino">
                            <label class="label label--changed" for="puertoDestino">Puerto Destino</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--PuertoDestino">
                            Puerto no válido. Ingrese un nombre valido
                            (ej. "Puerto de Barcelona") o un código válido
                            (ej. "ESBCN").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="date" autocomplete="off" placeholder="" name="fechaLlegada" id="fechaEntrada"
                                   title="Formato requerido: dd-mm-yyyy">
                            <label class="label label--changed1" for="fechaEntrada">Fecha Entrada</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            Fecha no válida. Ingrese una fecha en formato <strong>dd/mm/yyyy</strong>
                            (ej. "03/05/2025").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="date" autocomplete="off" placeholder="" name="fechaSalida" id="fechaSalida"
                                title="Formato requerido: dd-mm-yyyy">
                            <label class="label label--changed1" for="fechaSalida">Fecha Salida</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            Fecha no válida. Ingrese una fecha en formato <strong>dd/mm/yyyy</strong>
                            (ej. "03/05/2025").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <button class="formulario__button" type="submit">Guardar Nuevo Registro</button>
                    </div>
                    

                </fieldset>

                <p class="input__advertencia">
                    <i class="ri-error-warning-line"></i> <b>Error:</b> Por favor rellene el formulario correctamente.
                </p>

            </form>
        </div>
    </div>

    <!--Modal añadir EDIT-->
    <div class="modal__newadd newadd--hidden" id="modalnewadd2">
        <div class="modal__content">
            <span class="modal__close">&times;</span>
            <h2 class="content__titulo">Editar Solicitud Atraque</h2>
            <div class="content__relleno"></div>
            <form method="post" class="edit__formulario" id="formEditar">

                <fieldset class="buque__field">
                    <legend class="field__legend">Favor diligenciar el siguiente formulario.</legend>
                    <div class="formulario__input">
                        <div class="input-box ">
                            <input type="text" autocomplete="off" placeholder="" name="buque.matricula" id="tuition">
                            <label class="label label--changed1" for="tuition">Matricula</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--Matricula">
                            La matrícula ingresada no es válida.
                            Asegúrese de que esté en el formato correcto.
                            (Ejemplo: PC-PAN-22388)
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="text" autocomplete="off" placeholder="" name="buque.nombre" id="nameVessel">
                            <label class="label label--changed1" for="nameVessel">Nombre</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El nombre del buque es obligatorio.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="buque.tipoBuque" id="tipoBuque2">
                                <option disabled selected>Tipo De Buque</option>
                                <option th:each="tipo : ${tiposBuque}"
                                        th:value="${tipo.name()}"
                                        th:text="${tipo.descripcion}"
                                >Tipos Buque</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--tipoBuque2">
                            Por favor, seleccione un tipo de buque.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.ancho"
                                id="ancho2">
                            <label class="label label--changed1" for="ancho2">Ancho (M)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El ancho minima es de 50 y el maximo de 5000.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.largo"
                                id="altura2">
                            <label class="label label--changed1" for="altura2">Largo (M)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            La altura minima es de 50 y el maximo de 5000.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box">
                            <input type="number" min="50" max="5000" autocomplete="off" placeholder="" name="buque.dimensiones.peso"
                                id="peso2">
                            <label class="label label--changed1" for="peso2">Peso (T)</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            El peso minimo es de 50 y el maximo de 1000.
                        </p>
                    </div>

                    <!-- Selector de país -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="paisProcedencia" id="selectPaisProcedencia2">
                                <option disabled selected>Pais Procedencia</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--PaisProcedencia2">Por favor, seleccione un país de procedencia.
                        </p>
                    </div>

                    <!-- Selector de ciudad -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper wrapper--changed">
                            <select class="styled-select" name="ciudadProcedencia" id="selectCiudadProcedencia2">
                                <option disabled selected>Ciudad Procedencia</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--CiudadProcedencia2">Por favor, seleccione una ciudad de
                            procedencia.</p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="text" autocomplete="off" placeholder="" name="puertoProcedencia"
                                id="portOrigin">
                            <label class="label label--changed" for="portOrigin">Puerto Procedencia</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--PuertoProcedencia">
                            Puerto no válido. Ingrese un nombre valido
                            (ej. "Puerto de Barcelona") o un código válido
                            (ej. "ESBCN").
                        </p>
                    </div>

                    <!-- Selector de país -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper">
                            <select class="styled-select" name="paisDestino" id="selectPaisDestino2">
                                <option disabled selected>Pais Destino</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--PaisDestino2">Por favor, seleccione un país de Destino.</p>
                    </div>

                    <!-- Selector de ciudad -->
                    <div class="formulario__input">
                        <div class="custom-select-wrapper wrapper--changed">
                            <select class="styled-select" name="ciudadDestino" id="selectCiudadDestino2">
                                <option disabled selected>Ciudad Destino</option>
                            </select>
                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                        </div>
                        <p class="input__error error--CiudadDestino2">
                            Por favor, seleccione una ciudad de Destino.
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="text" autocomplete="off" placeholder="" name="puertoDestino"
                                id="portDestination">
                            <label class="label label--changed" for="portDestination">Puerto Destino</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error error--PuertoDestino">
                            Puerto no válido. Ingrese un nombre valido
                            (ej. "Puerto de Barcelona") o un código válido
                            (ej. "ESBCN").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="date" autocomplete="off" placeholder="" name="fechaLlegada" id="fechaEntrada2"
                                   title="Formato requerido: dd/mm/yyyy">
                            <label class="label label--changed1" for="fechaEntrada2">Fecha Entrada</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            Fecha no válida. Ingrese una fecha en formato <strong>dd/mm/yyyy</strong>
                            (ej. "03/05/2025").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <div class="input-box box--changed">
                            <input type="date" autocomplete="off" placeholder="" name="fechaSalida" id="fechaSalida2"
                                title="Formato requerido: dd/mm/yyyy">
                            <label class="label label--changed1" for="fechaSalida2">Fecha Salida</label>
                            <span class="box__icon"><i class="ri-check-line"></i></span>
                            <span class="box__icon"><i class="ri-close-line"></i></span>
                        </div>
                        <p class="input__error">
                            Fecha no válida. Ingrese una fecha en formato <strong>dd/mm/yyyy</strong>
                            (ej. "03/05/2025").
                        </p>
                    </div>

                    <div class="formulario__input">
                        <button class="formulario__button" type="submit">Guardar Nuevo Registro</button>
                    </div>

                </fieldset>

                <p class="input__advertencia advertencia--change">
                    <i class="ri-error-warning-line"></i> <b>Error:</b> Por favor rellene el formulario correctamente.
                </p>

            </form>
        </div>
    </div>

    <script th:src="@{/js/solicitudatraque.js}"></script>
    <!-- jsPDF para exportar a PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- autoTable (complemento para jsPDF) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"></script>
    <!-- autoTable (complemento para Excel) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</body>

</html>