<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonios</title>
    <link rel="stylesheet" th:href="@{/css/Testimonio.css}">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" th:href="@{/css/assets/image/icons/Ships.png}">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
        <a class="content__links" href="">+57 3214153612</a>
        <a class="content__links" href="">buquescaribe@gmail.com</a>
        <a class="content__links" href="">provedores</a>
    </div>

    <!-- Encabezado header-->
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__item"><a class="item__link" th:href="@{/buques/}">inicio</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/quienes-somos}">quienes somos</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/servicios}">servicios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/noticias}">Noticias</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/testimonios}">Testimonios</a></li>
                <li class="list__item"><a class="item__link" th:href="@{/buques/contactos}">contactos</a></li>
                <li class="list__item" sec:authorize="!isAuthenticated()">
                    <a class="item__link  btn--signin" th:href="@{/auth/login}">Ingresar</a>
                </li>
            </ul>

            <img class="nav__img" sec:authorize="isAuthenticated()" th:src="@{'/perfil-usuario/' + ${#authentication.principal?.imagen}}" th:alt="${#authentication.principal?.imagen}" onclick="toggleMenu()">

            <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                <div class="menu__sub">
                    <div class="sub__info">
                        <img class="info__img" th:src="@{'/perfil-usuario/' + ${#authentication.principal?.imagen}}" th:alt="${#authentication.principal?.imagen}" >
                        <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario</h2>
                    </div>
                    <hr>

                    <a th:href="@{/buques/perfil/}" class="sub__link">
                        <i class="ri-user-fill"></i>
                        <p class="link__text">Perfil</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/configuraciones}" class="sub__link">
                        <i class="ri-settings-5-fill"></i>
                        <p class="link__text">Configuracion</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <a th:href="@{/buques/notificaciones}" class="sub__link">
                        <i class="ri-notification-2-fill"></i>
                        <p class="link__text">Notificaciones</p>
                        <span class="link__flec"> <i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Panel de Control para AGENTE_NAVIERO -->
                    <a th:href="@{/buques/panel-control}" class="sub__link"
                       sec:authorize="hasAuthority('ROLE_AGENTE_NAVIERO')">
                        <i class="ri-dashboard-fill"></i>
                        <p class="link__text">Panel Control</p>
                        <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Panel de Control para ADMIN -->
                    <a th:href="@{/buques/panel-control}" class="sub__link"
                       sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <i class="ri-dashboard-fill"></i>
                        <p class="link__text">Panel Control</p>
                        <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                    </a>

                    <!-- Formulario para logout -->
                    <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                        <a href="#" class="sub__link" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="ri-logout-box-r-fill"></i>
                            <p class="link__text">Cerrar Seccion</p>
                            <span class="link__flec"><i class="ri-arrow-right-s-line"></i></span>
                        </a>
                    </form>

                </div>
            </div>

        </nav>
    </header>

    <!-- section Testimonios-->
    <section id="testimonials">
        <div class="testimonial-heading">
            <h1 class="heading__title">Testimonios</h1>
        </div>
        <div class="testimonial-box-container">
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img loading="lazy" th:src="@{/css/assets/image/testimonio1.jpg}"
                                alt="testimonio del usuario victor" />
                        </div>
                        <div class="name-user">
                            <strong>Victor Castillo</strong>
                            <span>victorcastillo@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>
                        El puerto de Cartagena es una maravilla. Su infraestructura moderna, su ubicación estratégica y
                        su eficiencia en operaciones lo convierten en uno de los mejores del país.
                        La atención es excelente y la logística impecable, permitiendo un comercio ágil y seguro.
                        ¡Totalmente recomendado!
                    </p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img th:src="@{/css/assets/image/testimonio2.jpg}" alt="testimonio de aizen" />
                        </div>
                        <div class="name-user">
                            <strong>Aizen Sosuke</strong>
                            <span>aizensosuke@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>
                        El puerto de Cartagena es un símbolo de desarrollo y progreso.
                        Su infraestructura avanzada y su eficiente gestión lo han convertido en un punto clave para el
                        comercio internacional. La conectividad y seguridad que ofrece son inigualables. Sin duda, es
                        una obra maestra de la ingeniería y la estrategia. La creación de este puerto fue parte de mi
                        plan.
                    </p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img th:src="@{/css/assets/image/testimonio3.jpeg}" alt="Testimonio de Jose Andres" />
                        </div>
                        <div class="name-user">
                            <strong>Jose Andres</strong>
                            <span>joseandres@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>El puerto de Cartagena es una pieza fundamental para el comercio y la economía de la región. Su
                        capacidad de gestión, seguridad y tecnología de vanguardia lo convierten en uno de los mejores.
                        La eficiencia en la logística y la conectividad con otras partes del mundo son impresionantes.
                        Sin duda, un referente en el sector portuario.</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img th:src="@{/css/assets/image/testimonio4.jpg}" alt="Testimonio de Yublian Verbel" />
                        </div>
                        <div class="name-user">
                            <strong>Yublian Verbel</strong>
                            <span>yublianverbel@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>El puerto de Cartagena es un ejemplo de eficiencia y modernidad. Su infraestructura de primer
                        nivel permite una operatividad fluida y segura, facilitando el comercio internacional. La
                        organización y el servicio ofrecido garantizan una experiencia óptima para importadores y
                        exportadores. Sin duda, un pilar clave para el desarrollo económico de la región.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content">
            <div class="content__row">
                <div class="row__item">
                    <h4 class="item__title">company</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">about us</a></li>
                        <li class="list__footer"><a class="footer__link" href="#servicios">our services</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">privacy policy</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">affiliate program</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">get help</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">FAQ</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">shipping</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">returns</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">order status</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">online shop</h4>
                    <ul class="item__list">
                        <li class="list__footer"><a class="footer__link" href="#">watch</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">bag</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">shoes</a></li>
                        <li class="list__footer"><a class="footer__link" href="#">dress</a></li>
                    </ul>
                </div>

                <div class="row__item">
                    <h4 class="item__title">follow us</h4>
                    <div class="item__social">
                        <a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="social__link" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/testimonio.js}"></script>
</body>

</html>